@import 'reset.css';

html {

	--sweetcorn: #f6e579;
	--hairyheath: #682811;

	font-size: 16px;

}

body {
	background-color: var(--sweetcorn);
	font-family: "Baskerville";
	color: var(--hairyheath);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px;
}

inner-column {
	display: block;
	max-width: 700px;
	text-align: center;
}


/*STRUCTURE*/

li {
	margin-top: 20px;
	font-size: 1.5rem;
}

.description {
	padding: 0.5rem;
}

/*TYPOGRAPHY*/


.name-voice {
	font-size: 2.5rem;
	letter-spacing: 0.9rem;
}


.job-voice {
	/*margin-top: 2rem;*/
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
}

.info {
	margin-top: 0.8rem;
	font-style: italic;
}

.list-title {
	   font-size: 1.5rem;
    margin-top: 40px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: green;
}
