
mast-head {
	display: block;
	margin-bottom: 10px;
	/*border: 4px solid blue;*/
}

mast-head .logo {
	max-width: 180px;
}

mast-head .logo * {
	fill: var(--tradewinds);
}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 10px;
}

mast-head nav .home {
	padding: 10px 10px;
}

mast-head nav a:not(.home) {
	padding: .5em .5em;
}

@media (min-width:  600px) {
	mast-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
