inner-column.e4p {
	max-width: 400px;
}





.attention-voice {
	color: var(--falured);
	font-family: 'Baskerville';
	font-size: 1.9rem;
	letter-spacing: 0.2em;
   padding: 27px;
	text-align: center;
}