.home {
	// border: 3px solid cyan;
	display: flex;
	flex-direction: column;
	gap: 20px;
	// padding: 20px;
}

.home text-wrapper {
	display: block;
	margin-top: 20px;

	p + p {
		margin-top: 20px;
	}

}

link-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin-top: 40px;

	a {
		font-family: 'Highway Gothic';
		color: yellow;
		border: 3px solid yellow;
		padding: 14px;
		font-size: 18px;
	}

}
page-right {
	// border: 3px solid purple;

	picture {
		padding: 20px;
	}

}


@media(min-width: 700px) {
	.home {
		flex-direction: row;
	}
}