footer.one {
	background-color: var(--royalBlue);
}


footer.two {
	background-color: white;
}



.subscribe-module {
	display: flex;
	flex-direction: column;
	padding: 30px;
}

footer.one .subscribe-module {
		background-color: var(--palatinateBlue);
}

footer.two .subscribe-module {
		background-color: var(--zumthor);
}





.link-column a {
	line-height: 1.21rem;
}





.footer-top {
	display: flex;
	flex-direction: row;
}

.footer-bottom {
	border: 3px solid yellow;
}


footer nav ul {
		display: flex;
	flex-direction: row;	

}


.icon-section {
	display: flex;
	flex-direction: row;	

}


.footer-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	

}