footer {
	background-color: var(--royalBlue);
}



.subscribe-module {

	background-color: var(--palatinateBlue);
	display: flex;
	flex-direction: column;
	padding: 30px;
}





.link-column a {
	line-height: 1.21rem;
}





.footer-top {
	display: flex;
	flex-direction: row;
}

.footer-bottom {
	border: 3px solid yellow;
}


footer nav ul {
		display: flex;
	flex-direction: row;	

}


.icon-section {
	display: flex;
	flex-direction: row;	

}


.footer-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	

}