footer {
	padding: 100px 120px;
}


footer.one {
	background-color: var(--royalBlue);
}

footer.one .links {
	display: flex;
	flex-direction: row;
	margin-top: 34px;
	gap: 5vw;
}

footer.one .loud-voice {
	color: white;
}

footer.one .subscribe-module {
		background-color: var(--palatinateBlue);
}


.footer.one .text, .footer.one a {
	color: var(--lavenderBlue);
}




.footer.two .text, .footer.two a {
	color: var(--sonicSilver);
}







footer.two {
	background-color: white;
}







footer.two .loud-voice {
	color: black;
}





footer a {
	line-height: 19px;
	text-align: left;
	vertical-align: top;
	line-height: 1.21rem;
	margin-top: 12px;

}










footer.two .subscribe-module {
		background-color: var(--zumthor);
}











.footer-top {
	display: flex;
	flex-direction: row;
	gap: 61px;
}

.footer-bottom {
	margin-top: 47px;
}


footer nav ul {
	display: flex;
	flex-direction: row;
	gap: 36px;	

}


.icon-section {
	display: flex;
	flex-direction: row;	
	gap: 15px;

}


.footer-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	

}