
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

a {
	display: block;
	text-decoration: none;
	color: inherit;
	max-width: 20vh;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

picture {
	display: block;
	overflow: hidden; /*if the picture has internal elements that make it bigger than its
	parent, this will hide them */
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}
