/* Should we pull in @fonts here? */


a, p {
	font-family: "Golos Text";
}


.loud-voice	{
	font-family: "Shantell Sans";
	font-size: clamp(40px, 7vw, 50px);
	text-align: center;
	letter-spacing: 0.05em;
	font-weight:700;
}

.attention-voice	{
	font-family: "Shantell Sans";
	font-size: 30px;
}

@media (prefers-color-scheme: dark) {
	h2.heading.attention-voice {
	color: var(--white);
	}
}

.strong-voice {
	font-family: "Shantell Sans";
	font-weight: 700;
	font-size:  1.5rem;

}

@media (prefers-color-scheme: dark){
	h1.title.strong-voice{
	color: var(--cadorange);
	}
	.title.strong-voice {
	color: var(--white);
	}
	
}

/*.calm-voice, p, li {
	font-family: "Golos Text";
	font-size: 1rem;
	line-height: 1.4;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}*/

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */









p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}


h1 + p {
margin-top: 10px;
text-align: center;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}

