.email-submit {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.email-submit input {
	flex-basis: 100%;
}



.email-submit button {
	display: block;
	border: 0;
	border-radius: 0 6px 6px 0;
	background-color: var(--royalBlue);
	padding: 10px;
}


.email-submit svg path {
	stroke: white;
}


.email-submit-2 input {
	background: url('../../images/envelope.svg') no-repeat;

}