@import "reset.css";

/*SITE SETUP*/

* {
	box-sizing: border-box;
}

a {
	display: inline-block;
}

/*a elements must be inline-block to apply margins!*/

img {
	display: block;
	width: 100%;
	height: auto;
}

picture {
	display: block;
}






.inner-column h2 {
	font-size: 24px;
	font-weight: bold;
}


.inner-column h2, .inner-column p, .inner-column a {
	margin-top: 10px;
}


/*HEADER STYLING*/

.site-header .inner-column {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
}

.site-header h1 {
	color: white;
	font-family: 'Trattatello', sans-serif;
}

.eye-of-horus {
	max-width: 50px;
	border-radius: 50%;
	overflow: hidden;
}


/*INTRO STYLING*/

.intro .inner-column {
	padding: 10px;
}


.interchange {
	display: block;
	width: 100px;
}

.intro p {
	font-family: 'American Typewriter', sans-serif;
}



/*MODULE STYLING*/

.cog, .cloud {
	display: none;
}

.saigon, .paris, .florence {
	max-width: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.module-1, .module-2, .module-3 {
	padding: 10px;
}



/*FOOTER STYLING*/

.site-footer .inner-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-weight: bold;
	padding: 10px;
}

.site-footer {
	padding: 10px;
}



/*THEME*/

html {
	background-color: rgb(153,92,0);
}

/*.site-header {
	background-color: rgba();
}*/

.intro {
	background-color: rgba(255,255,255,.5);
}

/*Think of this background as being white,
then getting more translucent to
reveal the html background color.*/

.modules {
	background-color: rgba(255,255,255,.7);
}






/*--------------------------------*/

/*Media queries*/

/*Minimum screen size:  320px!*/

@media (min-width: 400px) {

	.site-header h1 {
		font-size: 5vw;
		color: white;
	}

	.intro {
		position: relative;
		overflow: hidden;
	}

	.intro .inner-column {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding: 10px;
	}

	.interchange {
		width: 30vw;
		padding: 10px;
	}

	.intro .inner-column p {
		max-width: 30%;
	}

/*---------------------*/

/*MODULE STYLING*/

	.modules {
		position: relative;
		overflow: hidden;
	}

	.modules .cog {
		/*border: 6px solid lime;*/
		display: block;
		width: 20vw;
		position: absolute;
		bottom: -40px;
		right: -40px;
	}


	.modules .inner-column {
		display: flex;
		flex-direction: column;
	}

	.module-1, .module-2, .module-3 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		padding: 20px;

	}

	.saigon, .paris, .florence {
		max-width: 150px;

		border-radius: 50%;
		overflow: hidden;
	}

	.content {
		width: 45%;
	}

/*FOOTER STYLING*/

	.site-footer .inner-column {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		/*border: 3px solid white;*/
	}


}

/*--------------------*/


@media (min-width: 700px) {

	.site-header, .intro, .modules, .site-footer {
	display: flex;
	justify-content: center;
	}
		.site-header h1 {
		font-size: 40px;
		color: white;
	}


/*All of the child elements of the above boxes will
be in the center of the viewport now!*/


	.inner-column {
		/*border: 3px solid black;*/
		min-width: 700px;
		max-width: 900px;
	}

	.intro .inner-column {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		padding: none;

	}

	.intro .cog {
		/*border: 6px solid lime;*/
		display: block;
		width: 20vw;
		position: absolute;
		left: -40px;
		bottom: -50px;
		opacity: 30%;

	}

	.intro p {
			margin-bottom: 60px;
	}

	.cloud {
		display: block;
		width: 20vw;
		position: absolute;
		right: 120px;
		bottom: -70px;
		opacity: 30%;

	}

	.interchange {
		width: 25vw;
	}

	/*MODULES*/


	.modules .inner-column {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-evenly;
	}

	.modules .cog {
		width: 10vw;
		opacity: 30%;
	}


	.module-1, .module-2, .module-3 {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 16px;
		width: 33%;
	}

	.saigon, .paris, .florence {
		max-height: 80px;
	}



	.content a {
		text-decoration: none;
		background-color: black;
		color: white;
		padding: 10px;
		border-radius: 30%;
	}


/*FOOTER*/


	.site-footer .inner-column {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

}

















/*STRUCTURE VISUALIZATION*

* {
	color:  white;
}

html {
	background-color: black;
}

.inner-column {
	border: 3px solid yellow;
}

.site-header {
	border: 3px solid lime;
}

.eye-of-horus {
	border: 3px solid blue;
}

.site-header h1 {
	border: 3px solid green;
}

.intro {
	border: 3px solid pink;
}

.modules {
	border: 3px solid cyan;
}

.module-1, .module-2, .module-3 {
	border: 3px dashed magenta;
}

.site-footer {
	border: 3px solid green;
}