/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*THIS CONTAINS DISPLAY, WIDTH, HEIGHT*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  color: blue;
  text-decoration: underline;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

picture-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*SETTINGS*/
html {
  --sweetcorn: #f6e579;
  --falured: #81201b;
  --phthaloblue: #04167d;
  --gulfblue: #00175c;
  --tolopea: #160f46;
  --desire: #e23f53;
  --cgred: #dd3b30;
  --palegreen: #95f598;
  --fadedlime: #7df383;
  --anakiwa: #8acde4;
  --lightgreen: #4af2a1;
  --amazon: #36745c;
  --paper: var(--sweetcorn);
  --ink: var(--falured);
  --paper-dark: var(--tolopea);
  --ink-dark: var(--sweetcorn);
}

inner-column {
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

code {
  display: block;
}

/* from mooff in discord */
/* these are a pain to get right. suitable as a baseline.. */
pre {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*MENUS*/
.route-menu ul {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.route-menu li a {
  display: inline-block;
  border: 3px solid var(--fadedlime);
  font-size: 20px;
  color: var(--fadedlime);
  padding: 15px;
  text-align: center;
}

.route-menu li a:hover {
  background-color: var(--fadedlime);
  color: black;
}

.page-menu ul {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.page-menu li a {
  display: inline-block;
  border: 3px solid yellow;
  font-size: 20px;
  color: yellow;
  padding: 15px;
  text-align: center;
}

.page-menu li a:hover {
  background-color: yellow;
  color: black;
}

/* TEXT SIZING / TYPOGRAPHY */
@font-face {
  font-family: "Highway Gothic";
  src: url("./fonts/HWYGWDE.TTF");
}
html {
  --floor: calc(14px + 1vw);
  --stepOne: 1.272019rem; /* floor * golden ratio^0.5 */
  --stepTwo: 1.618033rem; /* floor * golden ratio */
  --stepThree: 2.058171rem; /* floor * golden ratio^1.5 */
  --stepFour: 2.618034rem; /* floor * golden ratio^2 */
  font-size: var(--floor);
}

body {
  font-family: "Baskerville";
  color: wheat;
}

em {
  font-style: italic;
}

h1 {
  font-family: "Highway Gothic";
  color: yellow;
  font-size: var(--stepThree);
  letter-spacing: 0.07em;
  text-align: center;
}

.main-header-text {
  margin-top: 30px;
}

h2 {
  font-family: "Highway Gothic";
  color: white;
  font-size: var(--stepTwo);
  letter-spacing: 0.07em;
  text-align: center;
}

h3 {
  font-size: var(--stepOne);
}

p {
  color: white;
  font-size: 22px;
  line-height: 1.3;
}

.success {
  margin-top: 10px;
  color: var(--fadedlime);
}

/*Title-header*/
.title-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title-header title-wrapper, .title-header svg-wrapper {
  display: flex;
  align-items: center;
}

.title-header title-wrapper h1 {
  font-family: "Highway Gothic";
}

/*Site-header, for pages other than the home page*/
.site-header {
  display: block;
}
.site-header element-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.site-header element-top title-wrapper, .site-header element-top svg-wrapper {
  display: flex;
  align-items: center;
}
.site-header element-top title-wrapper h1 {
  font-family: "Highway Gothic";
}
.site-header element-top svg-wrapper svg {
  max-width: 250px;
}
.site-header .site-menu {
  padding: 30px;
  max-width: 960px;
}
.site-header .site-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  width: 100%;
}
.site-header .site-menu li a {
  display: inline-block;
  border: 3px solid yellow;
  font-size: 20px;
  color: yellow;
  padding: 15px;
  text-align: center;
}
.site-header .site-menu li a:hover {
  background-color: yellow;
  color: black;
}

/*FORM ELEMENTS*/
.form-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-button {
  background-color: yellow;
  color: black;
  margin-top: 20px;
  padding: 8px;
  width: 30%;
}

/*FORM COMPONENT*/
.create-update-form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  background-color: #4f3d2a; /*deep bronze*/
  box-shadow: 10px 10px black;
  padding: 24px;
}
.create-update-form form-left, .create-update-form form-right {
  display: flex;
  flex-direction: column;
}
.create-update-form form-left label, .create-update-form form-right label {
  font-size: 18px;
}
.create-update-form form-left input, .create-update-form form-left select, .create-update-form form-left textarea, .create-update-form form-right input, .create-update-form form-right select, .create-update-form form-right textarea {
  font-size: 16px;
}
.create-update-form form-left field, .create-update-form form-right field {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.create-update-form form-left field + field, .create-update-form form-left input, .create-update-form form-left select, .create-update-form form-left textarea, .create-update-form form-right field + field, .create-update-form form-right input, .create-update-form form-right select, .create-update-form form-right textarea {
  margin-top: 12px;
}
.create-update-form form-right field {
  margin-top: 12px;
}

.create-update-form .description-field {
  display: flex;
}

@media (min-width: 814px) {
  .create-update-form {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .create-update-form form-right field {
    margin-top: unset;
  }
}
page-left.home {
  display: block;
  text-align: left;
  padding: 30px;
}
page-left.home text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
page-left.home text-wrapper p {
  padding: 0px 30px 0px 30px;
  line-height: 1.3;
  width: 80%;
}
page-left.home p + p {
  margin-top: 10px;
}

.route-list {
  display: block;
}
.route-list page-left, .route-list page-right {
  display: block;
  padding: 0px 30px 0px 30px;
}
.route-list page-left h2 {
  text-align: center;
}
.route-list page-left text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.route-list page-left text-wrapper p {
  line-height: 1.3;
  width: 80%;
  margin-top: 10px;
}
.route-list page-left form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}
.route-list page-left .filter-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.route-list page-left .filter-form label {
  font-weight: 700;
  letter-spacing: 0.05em;
}
.route-list page-left .filter-form field {
  display: flex;
  flex-direction: column;
}
.route-list page-left .filter-form select {
  margin-top: 20px;
  padding: 8px;
  font-family: "Baskerville";
  text-align: center;
  width: 60%;
}
.route-list page-right ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.route-list page-right ul li {
  width: 80%;
  margin-top: 18px;
}

@media (min-width: 960px) {
  .route-list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .route-list page-left, .route-list page-right {
    width: 50%;
  }
  .route-list li:nth-of-type(1) {
    margin-top: 0px;
  }
  .route-list page-right li + li {
    margin-top: 18px;
  }
}
.route-detail picture {
  max-width: 136px;
  padding: 14px;
}
.route-detail text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.route-detail text-wrapper p {
  padding: 0px 30px 0px 30px;
  line-height: 1.3;
  width: 60%;
}
.route-detail nav {
  margin: 30px 0px 0px 0px;
}

.create-route {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 30px 0px;
}
.update-page page-left, .update-page page-right {
  width: 80%;
}
.update-page page-left {
  display: flex;
  flex-direction: column;
}
.update-page page-left .photo-and-array {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update-page page-left .photo-and-array .update-photo {
  flex: 1;
  max-width: 225px;
}
.update-page page-left .photo-and-array code {
  flex: 1;
  max-width: 70%;
}
.update-page page-left .photo-and-array code pre {
  font-size: 12px;
}
.update-page page-right {
  display: block;
}

body {
  background: linear-gradient(rgba(76, 45, 18, 0.6), rgba(76, 45, 18, 0.6)), url("./images/main-background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding-bottom: 30px;
}

pre {
  background-color: black;
  color: lime;
  font-family: "Courier";
  font-size: 16px;
  padding: 20px;
}

.update-photo {
  padding: 20px;
}
