@import 'base/reset';
@import 'base/setup';
@import 'base/variables';
@import 'base/structure';
@import 'base/typography';
@import 'base/modules';

body {
	background-color: #4f3d2a;
	// border: 3px solid cyan;
}


pre {
	background-color: black;
	color: lime;
	font-family: 'Courier';
	font-size: 16px;
	padding: 20px;
}



.update-photo {
	padding: 20px;
}