@import 'base/reset';
@import 'base/setup';
@import 'base/variables';
@import 'base/structure';
@import 'base/typography';
@import 'base/modules';

body {
	background-color: #4f3d2a;
	// border: 3px solid cyan;
}


pre {
	background-color: black;
	color: lime;
	font-family: 'Courier';
	font-size: 16px;
	padding: 20px;
}



// .update-photo {
// 	padding: 20px;
// }

page-left, page-right {
	// border: 3px solid yellow;
}

// page-left, page-right {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// }

.photos {
	display: grid;
	gap: 30px;
}