/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*THIS CONTAINS DISPLAY, WIDTH, HEIGHT*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  color: blue;
  text-decoration: underline;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

link-wrapper, picture-wrapper {
  display: flex;
  flex-direction: column;
}

/*SETTINGS*/
html {
  --sweetcorn: #f6e579;
  --falured: #81201b;
  --phthaloblue: #04167d;
  --gulfblue: #00175c;
  --tolopea: #160f46;
  --desire: #e23f53;
  --cgred: #dd3b30;
  --palegreen: #95f598;
  --fadedlime: #7df383;
  --anakiwa: #8acde4;
  --lightgreen: #4af2a1;
  --amazon: #36745c;
  --paper: var(--sweetcorn);
  --ink: var(--falured);
  --paper-dark: var(--tolopea);
  --ink-dark: var(--sweetcorn);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

main {
  flex: 1;
  padding: 40px;
}

inner-column {
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

code {
  display: block;
}

/* from mooff in discord */
/* these are a pain to get right. suitable as a baseline.. */
pre {
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*MENUS*/
.route-menu ul {
  display: flex;
  gap: 28px;
}

.route-menu li a {
  display: inline-block;
  border: 3px solid var(--fadedlime);
  font-size: 20px;
  color: var(--fadedlime);
  padding: 15px;
  text-align: center;
}

.route-menu li a:hover {
  background-color: var(--fadedlime);
  color: black;
}

.page-menu ul {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.page-menu li a {
  display: inline-block;
  border: 3px solid yellow;
  font-size: 20px;
  color: yellow;
  padding: 15px;
  text-align: center;
}

.page-menu li a:hover {
  background-color: yellow;
  color: black;
}

/* TEXT SIZING / TYPOGRAPHY */
@font-face {
  font-family: "Highway Gothic";
  src: url("../fonts/HWYGWDE.TTF");
}
h1 {
  font-family: "Highway Gothic";
  font-size: 33px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

em {
  font-style: italic;
  letter-spacing: 0.03em;
}

:is(h1 + p) {
  margin-top: 1em;
}

/*VOICES*/
.page-title {
  text-align: left;
  font-family: "Highway Gothic";
  color: yellow;
  letter-spacing: 0.04em;
}

.success {
  font-family: "Highway Gothic";
  font-size: 24px;
  margin-top: 33px;
  color: var(--fadedlime);
}

/*CASE-STUDY STYLES*/
code {
  font-size: 1.1rem;
  background-color: black;
  color: var(--desire);
  font-family: "Courier", monospace;
}

.title-voice {
  font-style: italic;
  letter-spacing: 0.08em;
}

.subtitle-voice, article h2 {
  font-size: 26px;
  line-height: 1.2;
}

.bold-voice, article h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.block-subtitle-voice, article h4 {
  font-size: 1.2rem;
  line-height: 1.3;
  font-style: italic;
}

.normal-voice, article p {
  font-size: 1.2rem;
  line-height: 1.3;
}
.normal-voice code, article p code {
  font-size: 0.8em;
  display: inline-block;
}

.project-link {
  font-size: 24px;
}

article li {
  font-size: 1.2rem;
  line-height: 1.3;
}
article li code {
  font-size: 0.8em;
  display: inline-block;
}

article ul {
  list-style: disc;
}

article :is(ul, ol) li {
  font-size: 1.2rem;
  line-height: 1.3;
  max-width: 82ch;
  /* same as paragraph/body copy */
}

article :is(p + :is(ol, ul)) {
  margin-top: 0.5em;
}

article :is(:is(ol, ul) + p) {
  margin-top: 0.5em;
}

article :is(ul, ol) :is(li + li) {
  margin-top: 0.5em;
}

article h2,
article h3,
article .project-link,
article :is(h3 + p),
article :is(h3 + h4),
article :is(h4 + p),
article :is(li + h3),
article :is(figure + figure),
article :is(figure + p),
article :is(figcaption + p),
article :is(p + figure),
article :is(p + p),
article :is(p + ul),
article :is(p + h4),
article :is(p + ul),
article :is(ul + h4) {
  margin-top: 1em;
}
article :is(p + h3),
article :is(figure + h3),
article :is(ul + h3),
article :is(a + h3),
article :is(a + p) {
  margin-top: 2em;
}
article figcaption {
  margin-top: 0.5em;
  font-style: italic;
  letter-spacing: 0.02em;
}

/*Site-header, for pages other than the home page*/
header {
  background: linear-gradient(rgba(76, 45, 18, 0.6), rgba(76, 45, 18, 0.6)), url("../images/main-background.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header inner-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Highway Gothic";
  font-size: 28px;
  color: yellow;
  margin-right: auto;
  letter-spacing: 0.05em;
}

.road-icon {
  max-width: 120px;
}

.menu-icon {
  max-width: 80px;
}

@media (max-width: 799px) {
  /* only if small! */
  button.toggle * {
    pointer-events: none;
  }
  button.toggle {
    background-color: transparent;
    border: none;
    padding: 8px;
  }
  .site-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* */
    opacity: 0;
    background-color: #00326b;
    pointer-events: none;
    transform: translate(-100%, 0); /* another fun option to try #a */
    transform: scale(0.5);
    /* */
    transition: 0s;
  }
  .site-menu a {
    min-width: 200px;
    text-align: center;
  }
  .site-menu ul li, .site-menu button {
    margin-top: 30px;
    font-family: "Highway Gothic";
    color: white;
    font-size: 24px;
    letter-spacing: 0.03em;
  }
  .site-menu button {
    background-color: #00326b;
    border: 3px solid white;
    padding: 12px;
  }
  .site-menu li:hover {
    text-decoration: underline;
  }
  .site-menu button:hover {
    background-color: white;
    color: #00326b;
  }
  body.small-menu-open .site-menu {
    opacity: 1;
    pointer-events: initial;
    transform: translate(0, 0); /* another fun option to try #a */
    transform: scale(1);
    transition: 0.2s;
  }
}
@media (min-width: 800px) {
  .menu-icon {
    display: none;
  }
  .site-menu {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .site-menu button {
    display: none;
  }
  .site-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .site-menu li a {
    display: inline-block;
    font-size: 16px;
    color: yellow;
    padding: 15px;
    text-align: center;
    font-family: "Highway Gothic";
  }
  .site-menu li a:hover {
    background-color: yellow;
    color: black;
  }
}
/*FORM ELEMENTS*/
.form-button-wrapper {
  display: flex;
  flex-direction: row;
}

.form-button {
  background-color: yellow;
  color: black;
  font-family: "Highway Gothic";
  font-size: 18px;
  margin-top: 20px;
  padding: 8px;
  width: 30%;
}

/*FORM COMPONENT*/
.create-update-form {
  display: grid;
  gap: 16px;
  margin-top: 24px;
  background-color: #face98; /*peach orange*/
  box-shadow: 10px 10px black;
  padding: 24px;
  max-width: 452px;
}
.create-update-form label {
  font-size: 1rem;
  font-family: "Highway Gothic";
  padding-bottom: 4px;
}
.create-update-form input, .create-update-form select, .create-update-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}
.create-update-form .user-input {
  padding: 0.5em 1em;
}
.create-update-form field {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.create-update-form .description-field {
  display: flex;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home text-wrapper {
  display: block;
}
.home text-wrapper p + p {
  margin-top: 20px;
}

link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 40px;
}
link-wrapper a {
  font-family: "Highway Gothic";
  color: yellow;
  border: 3px solid yellow;
  padding: 14px;
  font-size: 18px;
}

@media (min-width: 700px) {
  .home {
    flex-direction: row;
  }
}
.route-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.route-list page-left, .route-list page-right {
  display: block;
}
.route-list page-left .no-routes {
  font-family: "Highway Gothic";
  margin-bottom: 10px;
}
.route-list page-left h2 {
  text-align: left;
  font-family: "Highway Gothic";
  color: yellow;
  letter-spacing: 0.04em;
}
.route-list page-left text-wrapper {
  display: flex;
  flex-direction: column;
}
.route-list page-left text-wrapper p {
  line-height: 1.3;
  width: 80%;
}
.route-list page-left text-wrapper h2 + p, .route-list page-left text-wrapper p + p {
  margin-top: 10px;
}
.route-list page-left form-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.route-list page-left .filter-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.route-list page-left .filter-form label {
  font-weight: 700;
  font-family: "Highway Gothic";
  font-size: 20px;
  color: wheat;
  letter-spacing: 0.05em;
}
.route-list page-left .filter-form field {
  display: flex;
  flex-direction: column;
}
.route-list page-left .filter-form select {
  margin-top: 20px;
  padding: 8px;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  width: 60%;
}
.route-list page-right ul {
  display: flex;
  flex-direction: column;
}
.route-list page-right ul li {
  width: 80%;
  margin-top: 18px;
  font-family: "Highway Gothic";
  color: wheat;
  font-size: 24px;
}
.route-list page-right ul li:hover {
  text-decoration: underline;
}

@media (min-width: 700px) {
  .route-list {
    flex-direction: row;
  }
  .route-list page-left, .route-list page-right {
    width: 50%;
  }
  .route-list page-right ul li {
    margin-top: 0px;
  }
}
.route-detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.route-detail page-left, .route-detail page-right {
  flex: 1;
}
.route-detail .route-shield {
  max-width: 136px;
  padding: 14px;
}
.route-detail text-wrapper {
  display: flex;
  flex-direction: row;
}
.route-detail text-wrapper p {
  line-height: 1.3;
}
.route-detail nav {
  margin: 30px 0px 0px 0px;
  font-family: "Highway Gothic";
}

@media (min-width: 700px) {
  .route-detail {
    flex-direction: row;
  }
}
.create-route {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.create-route page-left, .create-route page-right {
  flex: 1;
}

@media (min-width: 800px) {
  .create-route {
    flex-direction: row;
    align-items: unset;
  }
}
.update-page {
  display: flex;
  flex-direction: column;
}
.update-page h2 {
  margin-top: 20px;
}
.update-page page-left, .update-page page-right {
  flex: 1;
}
.update-page page-left {
  display: flex;
  flex-direction: column;
}
.update-page page-left .photo-and-array {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.update-page page-left .photo-and-array .update-photo {
  flex: 1;
  max-width: 225px;
  margin-top: 30px;
}
.update-page page-left .photo-and-array code {
  flex: 1;
  max-width: 70%;
  margin-top: 30px;
}
.update-page page-left .photo-and-array code pre {
  font-size: 12px;
}

@media (min-width: 800px) {
  .update-page {
    flex-direction: row;
  }
}
.route-deleted button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 48px;
}
.route-deleted button {
  display: block;
  background-color: unset;
  font-family: "Baskerville";
  border: 3px solid yellow;
  font-size: 20px;
  color: yellow;
  padding: 15px;
  text-align: center;
}
.route-deleted button:hover {
  background-color: yellow;
  color: black;
}

body {
  background-color: #4f3d2a;
}

pre {
  background-color: black;
  color: lime;
  font-family: "Courier";
  font-size: 16px;
  padding: 20px;
}

.photos {
  display: grid;
  gap: 30px;
}
