

.home {
	padding: var(--modulePadding);
	text-align: center;
}



@media(max-width: 899px) {

	.home h1 {
		margin-top: 103px;
	}
}


@media(min-width: 900px) {
	.home {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: right;
		}

	.home h1 {
		margin-top: 0px;
	}
}