

/*.route-name {
	margin-top: 10px;
}*/

h1 {
	font-family: 'Josefin Sans';
	font-size: 40px;
	margin-bottom: 7px;
}

h1, h2, p {
	text-align: center;
}


p + p {
	margin-top: 10px;
}

.route-name {
	font-size: 1.2rem;
	font-style: italic;
	margin-bottom: 7px;
}

.route-info {
	font-size: 1rem;
	line-height: 1;
}