.link-card {
	position: relative;
	padding: 27px;
	margin-top: 27px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	:hover {
		filter: sepia(125%);
	}

	a::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}

	:is(a + p) {
		margin-top: 1em;
	}
}

.link-card > * {
	color: var(--sweetcorn);
}