.projects {
	margin: 27px;
}


.link-card {
	padding: 50px;
	margin-top: 70px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<?=$item['image']?>");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.projects a {
	font-size: var(--steponeHalf);
}

.projects h2 {
	text-align: center;
}

.projects .body-copy {
	margin-top: 28px;
	line-height: 1.3em;
}


.link-card > * {
	color: var(--paper);
}



.project p {
	font-size: 0.9rem;
	margin-top: 20px;
}

