

.link-card {
	padding: 50px;
	margin-top: 27px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<?=$item['image']?>");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.link-card a {
	font-size: var(--stepTwo);
}

.projects, .the-lab h2 {
	text-align: center;
}

.link-card > * {
	color: var(--paper);
}

.link-card p {
	font-size: 0.9rem;
	margin-top: 20px;
}

