.layout-1 {
	font-family: sans-serif;
	font-size: 16px;
}


@media(min-width: 960px) {
.layout-1 {
	display: flex;
	align-items: center;
	justify-content: center;

	}
}


/*STRUCTURE*/

.layout-1 inner-column {
padding: 20px;
}



.layout-1 inner-column, .layout-1 article-section {
	display: block;
}

@media (min-width:  960px) {

.layout-1 inner-column {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;
		max-width: 1200px;
	}
}

.layout-1 picture-section {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media(min-width: 600px) {
	.layout-1 picture-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
  		grid-gap: 20px;
	}
}

.layout-1 .articles {
	/*border: 3px solid red;*/
}

@media(min-width: 600px) {

	.layout-1 .articles {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 10px;
	}
}

.layout-1 .article-heading {
	display: flex;
	flex-direction: column;
}


.layout-1 .line {
	border: 1px solid var(--ink);
	width: 90%;

}


.layout-1 h3.heading-voice {
}

/*TYPOGRAPHY*/


.layout-1 img {
	max-width: 600px;
}

.layout-1 h3, .layout-1 p, .layout-1 picture, .layout-1 .line {
	margin-top: 20px;
}

.layout-1 .heading-voice {
	font-weight: 700;
}


@media(min-width: 600px) {

	.layout-1 picture {
		margin-top: 0px;
	}
}
