@import "reset.css";

/* SITE CODE*/

/*Global settings*/

* {
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

a {
	color: inherit;
}

nav ul { /*parent of list items*/
	display:flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}

nav a {
	display: block;
	text-decoration: none;
	padding: 10px;

}

h1 {
	font-size: clamp(20px, 5vw, 50px);
	text-align: center;
}

body {
	font-family: sans-serif;
}

nav li {
	/*display: inline-block;*/
	/*width: 23%;*/
	font-size: 12px;
	text-align: center;
}

.inner-column {
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.textbox-1, .picture-1, .textbox-2, .picture-2 {
display: block;
}

picture {
	max-width: 320px;
}

/*These values are for everything smaller than 512px! */

/*Media queries */

@media (min-width: 512px) {

	picture {
		max-width: 50%;
	}

	.textbox-1, .picture-1, .textbox-2, .picture-2 {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
	}


	.inner-column {
		max-width: 900px;
	}
}

/*BORDERS AND BACKGROUND COLORS*/

html {
	background-color: black;
	color: white;
}

body {
	border: 3px solid green;
	margin: 8px;
}

header {
	border: 3px solid red;
	margin: 8px;
}

footer {
	border: 3px solid red;
	margin: 8px;
}

.navbar {
	border: 3px solid orange;
}

.inner-column {
	border: 3px solid purple;
}

.textbox-1, .picture-1, .textbox-2, .picture-2 {
	border: 3px solid yellow;
}