@import "reset.css";



/* SITE CODE*/

* {
	box-sizing: border-box;
}


html {
	background-color: palegreen;
	color: white;
}

nav a {
	color: white;
	text-decoration: none;
}



h1 {
	font-size: clamp(20px, 5vw, 50px);
}




body {
	border: 3px solid green;
	font-family: sans-serif;
}












