html {
--sweetcorn: #f6e579;
--falured: #81201b;
--phthaloblue: #04167d;
--gulfblue: #00175c;
--tolopea: #160f46;
--desire: #e23f53;
--cgred: #dd3b30;
--x11gray: #bcbcbc;
--black: #000000;

--paper: var(--x11gray);
--ink: var(--cgred);

--paper-dark: var(--black);
--ink-dark: var(--cgred);

}

body {
	background-color: var(--paper);
	color: var(--ink);
}

@media(prefers-color-scheme: dark) {
	body {
		background-color: var(--paper-dark);
		color: var(--ink-dark);
	}
}