.page-content {
	display: block;
	margin: 0 auto;
}

inner-column {
	display: block;
	margin: 0 auto;
/*	flex-direction: column;*/
		max-width: 960px; /*default*/
		padding: 10px;
}

@media (min-width: 715px){
	inner-column {

	padding: 0px 40px 0px 40px;

	}
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/*maybe a min-height 100vh for body? */

@media(min-width: 1048px) {
	.page-content {
		max-width: 1048px;
	}
}