.loose-screw {
	display: flex;
	flex-direction: column;
	align-items: center;
}




.loose-screw inner-column {
	margin-bottom: 30px;
}


.loose-screw .site-header {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.loose-screw h3.heading-voice {
		margin: 16px 0px 16px 0px;
		text-align: center;
}



@media(min-width: 600px) {
	.loose-screw picture-section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: start;
		padding: 20px;
	}
}



picture { 
/*	width: clamp(266px, 58vw, 400px);*/
	padding: 18px;
	text-align: center;
}


.shop-photo img {
		filter: hue-rotate(90deg);
		max-width: 300px;
		border: 3px solid var(--ink);
}

figcaption {
	color: var(--ink);
	padding: 12px;
	font-size: 22px;
}
