

logo {
	display: block;
	width: 24%;
}

@media(min-width: 960px) {
	svg {
		max-height: 90px;
	}
}

article-section {
	display: block;
}


picture-section {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media(min-width: 600px) {
	picture-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
  		grid-gap: 20px;
	}
}

.article + .article {
	margin-top: 20px;
}

.article:last-of-type {
	margin-bottom: 50px;
}


@media(min-width: 600px) {

	.articles {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 10px;
	}

	.article + .article {
		margin-top: 0px;
	}

	.article {
		border: 3px solid black;
		padding: 14px;
	}

	.article:last-of-type {
	margin-bottom: 0px;
	}

}


/*@media(min-width: 960px) {
	.articles {
		max-height: 400px;
	}
}
*/




.article-heading {
	display: flex;
	flex-direction: column;
}


.line {
	border: 1px solid var(--falured);
	width: 70%;

}

@media(min-width: 600px) {
	.line {
	display: none;
	}
}


@media(min-width: 600px) {
footer {
	margin: 30px 0px 30px 0px;
}
}

@media(min-width: 600px) {

	.text-wrapper {
		display: flex;
		justify-content: left;
		width: 55%;
		margin-top: 15px;
	}

	.text-wrapper p {
		color: var(--sweetcorn);
		background-color: var(--falured);
		line-height: 1.6;
		padding: 20px;
	}
	}
}


