
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 20px 0; /*original was 10vh*/
}

graphic-diptych p {
	margin-top: 20px;
}

@media (min-width:  700px) {
	graphic-diptych {
		flex-direction: row;
		align-items: center;
	}

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}
}
