
.layout-2 {
	font-family: sans-serif;
}

.layout-2 .heading-voice {
	font-weight: 700;
}

.layout-2 .copy-voice {
	font-size: 1rem;
}

.layout-2 .teaser-voice {
	font-style: italic;
}


.layout-2 p.copy-voice {
	margin-top: 8px;
}



@media(min-width: 600px) {
	.layout-2 {
/*	display: flex;
	justify-content: center;*/
	}
}


.layout-2 logo {
	display: block;
	width: 24%;
}

@media(min-width: 960px) {
	.layout-2 svg {
		max-height: 90px;
	}
}

/*STRUCTURE*/

.layout-2 inner-column {
	margin: 30px;
}



.layout-2 inner-column, .layout-2 article-section {
	display: block;
}


/* commented out for Layout 2 */
@media (min-width:  960px) {

	.layout-2 inner-column {
/*		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;*/
		max-width: 1200px;
	}
}


/*@media(min-width: 960px) {
	inner-column {
		max-height: 600px;
	}
}*/

.layout-2 picture-section {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media(min-width: 600px) {
	.layout-2 picture-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
  		grid-gap: 20px;
	}
}

.layout-2 .article + .article {
	margin-top: 20px;
}

.layout-2 .article:last-of-type {
	margin-bottom: 50px;
}


@media(min-width: 600px) {

	.layout-2 .articles {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 10px;
	}

	.layout-2 .article + .article {
		margin-top: 0px;
	}

	.layout-2 .article {
		border: 3px solid var(--black);
		padding: 14px;
	}

	@media(prefers-color-scheme: dark) {

		.layout-2 .article {
		border: 3px solid var(--ink-dark);
		}
	}

	.layout-2 .article:last-of-type {
	margin-bottom: 0px;
	}

}


/*@media(min-width: 960px) {
	.articles {
		max-height: 400px;
	}
}
*/




.layout-2 .article-heading {
	display: flex;
	flex-direction: column;
}


.layout-2 .line {
	border: 1px solid var(--ink);
	width: 70%;

}

@media(min-width: 600px) {
	.layout-2 .line {
	display: none;
	}
}


.layout-2 h3.heading-voice {
	font-weight: 700;
}

@media(min-width: 600px) {
.layout-2 footer {
	margin: 30px 0px 30px 0px;
}
}






/*TYPOGRAPHY*/


.layout-2 img {
	max-width: 600px;
}

.layout-2 h2 {
	font-size: 2.3rem;
	margin-top: 15px;
}

.layout-2 h2 + p {
	margin-bottom: 40px;
}


.layout-2 h3 {
	font-size: 1.25rem;

}

.layout-2 h3, .layout-2 picture, .layout-2 .line {
	margin: 16px 0px 16px 0px;
}



@media(min-width: 600px) {

	.layout-2 picture {
		margin-top: 0px;
	}
}



@media(min-width: 600px) {

	.layout-2 .text-wrapper {
		display: flex;
		justify-content: left;
		width: 55%;
		margin-top: 15px;
	}

	.layout-2 .text-wrapper p {
		color: var(--paper);
		background-color: var(--ink);
		line-height: 1.6;
		padding: 20px;
	}

	@media(prefers-color-scheme: dark) {

		.layout-2 .text-wrapper p {
		color: var(--black);
		}
	}



}