.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 22px 120px 22px 120px;
}

.navigation.two {
	background-color: var(--royalBlue);
	color: white;
}



.navigation nav a {
	font-size: 14px;
}

.navigation nav ul {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.navigation-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}


.navigation.one svg path.outline {
	stroke: #616161;
}

.navigation.one svg path.text {
	fill: #616161;
}



.navigation.two svg path.outline {
	stroke: white;
}

.navigation.two svg path.text {
	fill: white;
}

.navigation.one .login {
	border: none;
	background-color: var(--royalBlue);
	color: white;
	padding: 8px 22px;
	border-radius: 5px;
	letter-spacing: 0.46px;

}