
/* buttons and icons and smaller reusable bits here */

.button {
	display: block;

	font-family: "Rock Salt";
	font-size: 1rem;
	line-height: 1.4;

	padding: .5em 1em;
	color: var(--white);
	background-color: var(--tradewinds);
	min-width: 120px;
	text-align: center;
}

@import 'forms.css';
