
html {
	--black: #111111;
	--white: #efefef;

	--neutral-stuffs: gray;


	--tradewinds: #5bbfaf;
	--sandybeach: #faddb9;
	--x11gray: #bcbcbc;
	--seagull: #83d1e9;
	--cadorange: #ef8633;




	--color: #9ec9eb;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--paper: var(--white);
	--ink: var(--black);

	--standard: 1140px;
	--tight: 800px;
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: #231a1a;
		--ink: #ffffe2;
	}
}
