/* Should we pull in @fonts here? */

.loud-voice	{
	color: var(--tradewinds);
	font-family: "Rock Salt";
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

h1.loud-voice {
	padding: 0px 30px;
}

.attention-voice	{
	font-family: "Rock Salt";
	font-size: 30px;
}

h2.heading.attention-voice {
	color: var(--black);
	padding: 0px 30px;
}


@media (prefers-color-scheme: dark) {
	h2.heading.attention-voice {
	color: var(--white);
	}
}



articles-intro header .attention-voice {
	margin-top: 35px;
}

.strong-voice	{
	color: var(--black);
	font-family: "Rock Salt";
	font-weight: 700;
	font-size:  1rem;

}

h1.strong-voice {
	margin-left: 20px;
}


h1.title.strong-voice, p.teaser {
	margin: 10px 20px 10px 20px;
}


@media (prefers-color-scheme: dark){
	h1.title.strong-voice{
	color: var(--cadorange);
}
	.title.strong-voice {
	color: var(--white);
	}
	
}

.calm-voice, p, li {
	font-family: "Josefin Sans";
	color: var(--tradewinds);
	font-size: 1rem;
	line-height: 1.4;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */



p.story {
	color: #676767;
	padding: 0px 20px;
}


@media (prefers-color-scheme: dark) {
	p.story {
	color: var(--tradewinds);
	}
}

call-to-action a.button {
	background-color: var(--sandybeach);
	color: var(--tradewinds);
	margin-left: 20px;
}

p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}

li.article {
	background-color: var(--sandybeach);
	padding-bottom: 20px;
	margin: 20px;
	box-shadow: 2px 2px var(--x11gray);
}