/*404 SUBPAGE */

.four-oh-four {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	padding: var(--modulePadding);
}

.four-oh-four text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}

@media(min-width: 900px) {
	.four-oh-four {
		min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: right;
		}

	.four-oh-four text-wrapper {
		width: 100%;
	}
}