

.email-submit {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.email-submit input {
	flex-basis: 100%;
}



.email-submit button {
	display: block;
	border: 0;
	border-radius: 0 6px 6px 0;
	background-color: var(--royalBlue);
	padding: 10px;
}


.email-submit svg path {
	stroke: white;
}





/* EMAIL SUBMIT 2 */

.email-submit-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 16px;
}

@media(min-width: 960px) {

	.email-submit-2 { 
		width: 485px;
	}
}

.email-submit-2 input {
	background: url('../../images/envelope.svg') no-repeat;
	background-position: 10px;
	flex-basis: 100%;
	padding: 10px 0px 10px 45px;
	color: white;
	stroke: white;
}

.hero.three .email-submit-2 input {
	background: url('../../images/envelope-white.svg') no-repeat;
	background-position: 19px;
	flex-basis: 100%;
	padding: 20px 0px 20px 54px;
	color: white;
}




.email-submit-2 button {
	width: 117px;
	border: 0;
	border-radius: 5px;

	background-color: var(--royalBlue);
	padding: 10px;
	color: white;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.46px;
	vertical-align: top;
}





