.the-lab {
	margin: 27px;

}


.lab-item {
	padding: 50px;
	margin-top: 70px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("<?=$item['image']?>");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.lab-item a {
	font-size: var(--steponeHalf);
}

.the-lab h2 {
	text-align: center;
}

.the-lab .body-copy {
	margin-top: 28px;
	line-height: 1.3em;
}


.lab-item > * {
	color: var(--paper);
}



.lab-item p {
	font-size: 0.9rem;
	margin-top: 20px;
}


