

module-build, site-header {
	display: flex;
	flex-direction: column;
}




img {
	display: block;
	width: 100%;
	height: auto;
}



.page-content {
	border: 3px solid black;
}

.photo {
	display: flex;
	flex-direction: column;
	border: 3px solid purple;
	max-width: 360px;

}

.text {
	border: 10px solid lime;
}


/*TEXT STYLING*/

.header-announcement {
	font-family: Trattatello;
	font-size: 32px;
	text-align: center;
}

.normal-voice {
	font-family: American Typewriter;
	font-size: 16px;
	line-height: 1.5;
}

.whisper-voice {
	font-family: sans-serif;
	color: red;
}

@media (min-width: 360px) {
	
	.page-content {
	display: flex;
		flex-direction: stretch;
	}

	.photo {
		width: 50%;
	}
	
	.text {
		width: 50%;
	}
}




/*PRESENTATION*/

module-build {
	border: 3px solid blue;
}


site-header {
	border: 3px solid red;	
}