.cta-card {
	background-color: #f7f9fe;
	border: 3px solid blue;
	margin: 40px;

}





.call-to-action.two .button-wrapper {
	display: flex;
	flex-direction: row;
}





@media(min-width: 600px) {

	.call-to-action.three {
		display: flex;
		flex-direction: row;
		
	}
}