article-section {
	display: block;



}


article-section header {
	--paper: hsl(3, 65%, 31%);
	--ink: hsl(52, 87%, 72%);

	background-color: var(--paper);
	color: var(--ink);
	padding: 20px;
}


@media(min-width: 500px) {
	article-section header {
		padding: 20px 20px 88px 20px; 
	}
}