/*SETUP*/




@media(min-width: 600px) {
	inner-column {
	display: flex;
	justify-content: center;
	}
}

img {
	display: block;
	width: 100%;
	height: auto;
}

picture, svg {
	display: block;
}

logo {
	display: block;
	width: 24%;
}

@media(min-width: 960px) {
	svg {
		max-height: 90px;
	}
}

