@import "reset.css";

* {
	box-sizing: border-box;
}


.big-screen-view {
	display: none;
}

body {
	/*border: 5px solid lime;*/
	background-image: url('../images/homepage-background.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
}
.small-screen-view {
	/*border: 3px solid blue;*/

padding: 100px 0px 100px 0px;
}

.small-screen-view h1 {
	font-family: "Ceviche One";
	color: maroon;
	text-align: center;
	font-size: 6vw;
}


.links a {
	margin-top: 30px;
	display: block;
	font-family: "Vampiro One";
	font-size: 5vw;
	text-decoration: none;
	text-align: center;
	-webkit-text-stroke: 1px black;
	color: #cb0000;
}

.links a:hover {
	color: yellow;
}



/*BIG SCREEN VIEW*/






@media (min-width: 600px) {

	.small-screen-view {
	display: none;
	}

	.big-screen-view {
		/*border: 3px solid blue;*/
		display: block;

		padding: 30px;
	}

	.big-screen-view a {
		font-family: 'VampiroOne-Regular', 'Vampiro One';
		font-size: 290px;
		fill: #cb0000;
		stroke: #000;
		stroke-width: 16.26px;"
	}

	.big-screen-view a:hover {
		fill: yellow;
	}
}

@media (min-width: 714px) {
	.big-screen-view {
		max-width: 714px;
	}
}


