@import "reset.css";


html {

}




body {
	/*border: 5px solid lime;*/
	background-image: url('../images/landing-background-sans-text.jpg');
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 300px 40px 300px 40px;

}

.landing-link {
	border: 5px solid red;
	width: 80vw;
	fill: #cb0000;
	stroke: #000;
	stroke-width: 14.58px;
}

.landing-link:hover {
	fill: yellow;
}

@media (min-width: 714px) {
	svg {
	max-width: 714px;
	}
}