:is(.feature.two, .feature.three) inner-column {
	margin: 0 auto;
/*	max-width: 80%;*/
}

.feature {
	display: flex;
	flex-direction: column;
	padding: 80px;
}

.feature.one {
	padding: 0px 30px;
}

.feature.two {

}



.feature.one .eyebrow {
	display: none;
}

.feature-list.one, .feature-list.one .feature-item {
	margin-top: 15px;
}


@media(min-width:960px) {

	.feature-list.one,
	.feature-list.one .feature-item {
		margin-top: 0px;
	}
}

/* THIS IS MODULE STYLING */


.feature .header-and-text {
	text-transform: capitalize;
}

.feature .header-and-text h3 {
	line-height: 58.09px;
	letter-spacing: 0.2px;
}

.feature.three .header-and-text h3 {
	margin-top: 24px;
}

/*--------------*/






.feature .header-and-text p {
	color: var(--sonicSilver);
}




:is(.feature.two, .feature.three) .header-and-text p {
	margin-top: 32px;
	text-align: center;
}




:is(.feature.two, .feature.three) .header-and-text h3 {
	text-align: center;	
}


.feature-list.one .feature-item {
	display: flex;
	flex-direction: row;
	gap: 22px;
}

.feature-list.two .feature-item {
	gap: 0px;
}

.feature-wrapper { 
	display: flex;
	align-items: center;
}


.feature-text p {
	margin-top: 16px;
	font-size: 16px;
}


/*.feature.one .feature-head {
	border: 3px solid red;
}
*/





.feature.one .feature-head p {
	margin-top: 24px;
}






.feature.one picture {
	margin: 30px auto 0 auto;
	max-width: 450px;
	max-height: 491px;
}




@media (min-width: 600px) {

	.feature.one {
		padding: 80px 120px;
	}
	.feature.two, .feature.three {
		flex-direction: column;
	}
}

@media(min-width: 960px) {
	.feature.one {
		flex-direction: row;
		gap: 66px;
	}
}

/*FEATURE LIST ONE*/

.feature-list.one {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

:is(.feature-list.one, .feature-list.two) logo {
	width: 60px;
	height: 60px;
}


:is(.feature-list.two, .feature-list.three) h4 {
	margin-top: 22px;
}



/*FEATURE LIST TWO*/

.feature-list.two {
	margin-top: 60px;
}

.feature-list.two, .feature-list.three {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
			grid-gap: 20px;
}


@media (min-width: 600px) {
	.feature-list.two, .feature-list.three        {
		grid-template-columns: 1fr 1fr 1fr;

	}
}


.feature-list.two .feature-item {
	flex-direction: column;
	align-items: start;
	border: 1px solid var(--zircon);
	border-radius: 10px;
	padding: 25px;
}


/*FEATURE LIST THREE*/


.feature-list.three {
	margin-top: 60px;
/*	padding: 24px;*/
}



