@import 'reset.css';


/* SITEWIDE SETUP */

* {
	box-sizing: border-box;
}

picture {
	display: flex;
}

img {
	display: block;
	width: 100%;
	height: auto;
}


/*HEADER ELEMENTS*/

header {
	background-color: #682811;

}

header h1 {
	padding: 20px;
	color: white;
	font-family: 'Baskerville';
	font-size: 44px;
	font-weight: 700;
}


/* SCROLLBAR ELEMENTS */

scrollbar {
	display: block;
	background-color: #e9b62f;
	padding: 40px;
}








/* PRODUCT LIST & MODULE ELEMENTS */


.product-list {
	/*border: 3px solid orange;*/
	display: flex;
	flex-direction: column;
	background-color: #682811;
}

@media (min-width: 900px) {
	.product-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	min-height: 90vh;
}
}

.product-module {
	/*border: 3px solid green;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

picture {

	flex-direction: column;
	justify-content: center;
	/*border: 6px solid #c05128;*/
	background-color: white;
	width: 50%;
	margin: 20px 20px 0px 20px;
}


picture, .product-text {
	padding: 20px;
}

.product-text {
	/*border: 3px solid purple;*/
	width: 50%;
	margin: 20px 20px 0px 0px;
	font-family: 'Baskerville';
	color: #D7A562;
}

.product-text h2 {
	font-size: 36px;
}

.product-text h3 {
	font-size: 24px;
}


.product-text p {
	margin-top: 20px;
	font-size: 20px;
}

.price {
	display: flex;
	justify-content: space-evenly;
}

.price p {
	color: black;
	font-weight: 700;
	font-size: 24px;
}

/*.inventorystatus {
	color: red;
}*/

/* FOOTER ELEMENTS */

footer {
	/*border: 3px solid brown;*/
	padding: 40px;
}