.clients picture img {
	border-radius: 100%;
}

.client-name {
	font-size: 14px;
}


.clients.one .client-reviews {
	display: flex;
	flex-direction: row;
}

@media(min-width: 600px) {
	.client-reviews {
		flex-direction: row;
	}
}


.clients.two .client-reviews {
	display: flex;
	flex-direction: column;
}




.clients.two .review-text {
	display: flex;
	flex-direction: row;
}

.clients.two .client-info {
	display: flex;
	flex-direction: row;
}