.resume {
	margin: 27px;
	display: flex;
	flex-direction: column;
}


.resume ul {
	border: 3px solid red;
}


.resume li h3 {
	margin-top: 33px;
}



.resume li p {
	margin-top: 10px;
}

.resume p {
	line-height: 1.3em;
}

.resume ul + ul h2 {
	margin: 46px 0px 20px 0px;
}