/*FORM ELEMENTS*/

.form-button-wrapper {
	display: flex;
	flex-direction: row;
	// justify-content: center;
}

.form-button {
	background-color: yellow;
	color: black;
	font-family: 'Highway Gothic';
	font-size: 18px;
	margin-top: 20px;
	padding: 8px;
	width: 30%;
}

/*FORM COMPONENT*/

.create-update-form {
	display: grid;
	gap: 16px;
	margin-top: 24px;
	background-color: #face98; /*peach orange*/
	box-shadow: 10px 10px black;
	padding: 24px;
	max-width: 452px;

 	label {
		font-size: 1rem;
		font-family: 'Highway Gothic';
		padding-bottom: 4px;
	}
	input, select, textarea {
		font-size: 1rem; //16px
		font-family: sans-serif;
	}

	.user-input {
		padding: 0.5em 1em;
	}

	field {
		display: flex;
		flex-direction:column;
		align-items: start;
	}

	field + field,  input, select, textarea {
		// margin-top: 12px;
	}
}


.create-update-form .description-field {
	display: flex;
}