:is(.center-content.one, .center-content.two, .center-content.three) inner-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	padding-top: 80px;
		padding-bottom: 80px;
}





:is(.center-content.one, .center-content.two, .center-content.three) h2 {
	margin-top: 24px;
	font-weight: 600;
	font-size: 56px;
	line-height: 67.77px;
	letter-spacing: 0.2px;
	text-align: center;
}



:is(.center-content.one, .center-content.two) .header-and-text p {
	padding-top: 32px;
}


:is(.center-content.one, .center-content.two, .center-content.three) .header-and-text p {
	font-size: 20px;
	line-height: 24.2px;
	letter-spacing: 0.2px;
	font-weight: 400;
	text-align: center;
}

.center-content.three .header-and-text p.text {
	display: none;
}


:is(.center-content.one, .center-content.two) h3 + p {
	margin-top: 32px;
}

.center-content.one picture, .center-content.two .learn-more {
	margin-top: 60px;

}


.center-content.two .icon-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.center-content.two .cloud {
	width: 60px;
	height: 60px;
}

.center-content.two p {
	color: var(--sonicSilver);
}

.center-content.three .content-list {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 60px;
	grid-gap: 32px;
}

@media(min-width: 600px) {
	.center-content.three .content-list {
	grid-template-columns: 1fr 1fr 1fr;
	}
}

.center-content.three .content-list h4 {
	line-height: 29.05px;
	letter-spacing: 0.46px;
	text-align: center;
}

.center-content.three .content-list p {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.46px;
	text-align: center;
	color: var(--sonicSilver);
}



