.create-route {
	display: flex;
	flex-direction: column;
	// align-items: center;
	gap: 30px;


page-

page-right {
	picture {
		max-width: 330px;
	}
}


	page-left, page-right {
		flex: 1;
		border: 3px solid orange;
	}


}

@media(min-width: 700px) {
	.create-route {
		flex-direction: row;
	}
}