
.clients {
	padding: 80px 120px;
}


.clients .header-and-text h3 {
	line-height: 58.09px;
	letter-spacing: 0.2px;
	text-align: center;
}

.clients .header-and-text p {
	margin-top: 16px;
	color: var(--sonicSilver);
	text-align: center;
}

.client-name {
	color: var(--sonicSilver);
}




p.review {
	line-height: 32px;
	letter-spacing: 0.2px;
	font-size: 20px;
}

/*CLIENT REVIEWS TWO MODULE */


.client-reviews.two {
	margin-top: 50px;
}



.client-reviews.two .review {
	font-size: 40px;
	line-height: 54px;
	text-align: center;
}

.clients picture img {
	border-radius: 100%;
}

.clients .client-photo {
	width: 40px;
	height: 40px;
}

.client-name {
	font-size: 14px;
	margin-top: 8px;
}


.clients.one .client-reviews.one {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
	margin-top: 50px;
	gap: 42px;
	max-width: 1094px;
}

.clients.two .client-reviews.two {
	padding: 20px;
}









@media(min-width: 600px) {
	.client-reviews {
		flex-direction: row;
	}
}


.clients.two .client-reviews {
	display: flex;
	flex-direction: column;
}




.client-reviews.two .review-text {
	display: flex;
	flex-direction: row;

}

.clients.two .client-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
	gap: 20px;
}


@media(min-width: 600px) {
	.clients.three .client-review {
		display: flex;
		flex-direction: row;
	}
}
.client-review {
	padding: 26px 10px;
}


.client-review p {
	margin-top: 27px;
}


.client-block, .chevron-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.client-block {
	margin-top: 27px;
}

.client-block p {
	margin-top: 8px;
}






:is(.chevron-left, .chevron-right) svg {
	width: 50px;
	height: 50px;
}

.clients.two .client-name {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 0.2px;
}

.clients.two .client-job {
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 0.2px;
}

.clients.two .client-icon-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}



/*CLIENTS TEMPLATE THREE */

.clients.three .client-review {
	display: flex;
	flex-direction: column;
	gap: 38px;
}


@media(min-width: 600px) {
	.clients.three .client-review {
		flex-direction: row;
		gap: 38px;
	}
}




.clients.three .neutral-photo {
	max-width: 652px;
	max-height: 472px;
}

@media(min-width: 600px) {
	.clients.three .neutral-photo {
		width: 652px;
		height: 472px;
	}
}



.clients.three .review-text .review {
	font-size: 32px;
			letter-spacing: 0.2px;
		line-height: 48px;

}

.clients.three .review-text .client-info {
	font-size: 20px;

		color: var(--sonicSilver);

}