@import "reset.css";

img {
	display: block;
	max-width: 100%;
	height: auto;
}


page-left, page-right {
	display: block;
	border: 5px solid black;
}


body {
	/*border: 3px solid lime;*/
	background-color: #ee8133;
	border: 3px solid lime;
}



@media (min-width: 900px) {
	body {
		display: flex;
		flex-direction: row;
		align-items: center;
		min-height: 100vh;
	}

	page-left {
		max-width: 50%;

	}

	ol {
		display: block;
	}
}




header {
	padding: 20px;
}


/*PAGE CONTENT*/

page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	margin-bottom: 30px;
}

h1 {
	font-family: 'Chalkduster';
	color: #366d04;
	font-size: 72px;
	text-align: center;
}

h2 {
	font-family: 'Chalkduster';
	color: #366d04;
	font-size: 36px;
	text-align: center;
}


p {
margin: 20px;
text-align: center;
color: red;
font-family: 'Hammersmith One';
color: #366d04;
font-size: 18px;
}




/*MONSTER INFO*/


ol {
	/*border: 5px solid purple;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}


h2.name {
	padding: 30px;
}

monster-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 5px solid black;*/
	background-color: #f8ca7c;
	background-color: yellow;
	margin: 50px;

	/*border: 2px solid red;*/
	/*padding:  0px 20px 0px 20px;*/
}

.portrait {
	display: block;
	/*border: 5px solid green;*/
	max-width: 70%;
	padding: 20px;
}



p.status {
	color: red;
}

@media (min-width: 600px) {

	ol {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	}

	li {

	max-width: 375px;
	}

}

