
font-overview {
	display: block;
	padding: var(--modulePadding);


	:is(h1 + div) {
		margin-top: 1em;
	}

	.specimen + .specimen {
		margin-top: 1em;
	}



}




// .example {
// 	margin-top: 30px;

// }


.style-guide .home h1 {
	text-align: left;
}

.voices > * {
	margin-top: 1em;
}