@import 'reset.css';
@import 'typography.css';



/*SETUP*/


html {

	--falured: hsl(3, 65%, 31%);
	--sweetcorn: hsl(52, 87%, 72%);

	--ink: ;
	--paper: ;
	--color: ;
	--highlight: ;

	font-family: sans-serif;
	font-size: 16px;
	color: var(--falured);
}

body {
	background-color: var(--sweetcorn);
	/*margin: 20px;*/
}

@media(min-width: 600px) {
	body {
	display: flex;
	justify-content: center;
	}
}

img {
	display: block;
	width: 100%;
	height: auto;
}

picture, svg {
	display: block;
}

logo {
	display: block;
	width: 24%;
}

@media(min-width: 960px) {
	svg {
		max-height: 90px;
	}
}

/*STRUCTURE*/

inner-column {
	margin: 30px;
}



inner-column, article-section {
	display: block;
}


/* commented out for Layout 2 */
@media (min-width:  960px) {

	inner-column {
/*		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;*/
		max-width: 1200px;
	}
}


/*@media(min-width: 960px) {
	inner-column {
		max-height: 600px;
	}
}*/

picture-section {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media(min-width: 600px) {
	picture-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
  		grid-gap: 20px;
	}
}

.article + .article {
	margin-top: 20px;
}

.article:last-of-type {
	margin-bottom: 50px;
}


@media(min-width: 600px) {

	.articles {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 10px;
	}

	.article + .article {
		margin-top: 0px;
	}

	.article {
		border: 3px solid black;
		padding: 14px;
	}

	.article:last-of-type {
	margin-bottom: 0px;
	}

}


/*@media(min-width: 960px) {
	.articles {
		max-height: 400px;
	}
}
*/




.article-heading {
	display: flex;
	flex-direction: column;
}


.line {
	border: 1px solid var(--falured);
	width: 70%;

}

@media(min-width: 600px) {
	.line {
	display: none;
	}
}


h3.heading-voice {
	font-weight: 700;
}

@media(min-width: 600px) {
footer {
	margin: 30px 0px 30px 0px;
}
}






/*TYPOGRAPHY*/


img {
	max-width: 600px;
}

h2 {
	font-size: 2.3rem;
	margin-top: 15px;
}

h2 + p {
	margin-bottom: 40px;
}


h3 {
	font-size: 1.25rem;

}

h3, picture, .line {
	margin: 16px 0px 16px 0px;
}



@media(min-width: 600px) {

	picture {
		margin-top: 0px;
	}
}



@media(min-width: 600px) {

	.text-wrapper {
		display: flex;
		justify-content: left;
		width: 55%;
		margin-top: 15px;
	}

	.text-wrapper p {
		color: var(--sweetcorn);
		background-color: var(--falured);
		line-height: 1.6;
		padding: 20px;
	}
	}
}


