footer {
	padding: 100px 120px;
}

.footer-top {
	display: flex;
	flex-direction: column;

}

.footer-top .link-column ul {
	margin-top: 16px;
}

.footer-top .link-column ul li + li{
	margin-top: 10px;
}

@media(min-width: 900px) {
	.footer-top {
		flex-direction: row;
		gap: 61px;
	}
}


footer.one {
	background-color: var(--royalBlue);
}

footer.one .links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 34px;
	gap: 5vw;
}

footer.one .loud-voice {
	color: white;
}

footer.one .subscribe-module {
		background-color: var(--palatinateBlue);
		margin-top: 40px;
}

@media(min-width: 900px) {

footer.one .links {
	flex: 3;
}

	footer.one .subscribe-module {
		flex: 2;
		margin-top: 0px;
	}
}



footer.one .text, .footer.one a {
	color: var(--lavenderBlue);
}




.footer.two .text, .footer.two a {
	color: var(--sonicSilver);
}






footer.two {
	background-color: white;
}







footer.two .loud-voice {
	color: black;
}





footer a {
	line-height: 19px;
	text-align: left;
	vertical-align: top;
	line-height: 1.21rem;

}










footer.two .subscribe-module {
		background-color: var(--zumthor);
}













footer nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 11px;	

}
@media(min-width: 900px) {
	footer nav ul {
		flex-direction: row;
		gap: 36px;
	}
}

.icon-section {
	display: flex;
	flex-direction: row;	
	gap: 15px;

}


.footer-bottom {
	margin-top: 47px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
}
