body {
	font-family: 'Inter';
	-webkit-font-smoothing: antialiased;

}


.loud-voice {
	font-weight: 700;
}



h1 {
	font-size: 64px;
}



h2 {
	font-size: 56px;
}



h3 {
	font-size: 48px;
}



h4 {
	font-size: 22px;
}