.route-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.route-list li {
	margin-top: 18px;
}






/*FORM ELEMENTS*/


form {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

form field {
	display: flex;
	flex-direction: column;
	align-items: center;
}

select {
	margin-top: 20px;
	padding: 8px;
	font-family: 'Baskerville';
	text-align: center;
	width: 60%;
}

.form-button {
	background-color: yellow;
	color: black;
	margin-top: 20px;
	padding: 8px;
	width: 30%;
}