@import 'reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';


body {
	background: linear-gradient( rgba(76, 45, 18, 0.6), rgba(76, 45, 18, 0.6)), url('../images/main-background.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;


}

picture {
	max-width:  200px;
	border: 2px solid white;
	padding:  5px;
}


nav a {
	color:  yellow;
}


pre {
	background-color: black;
	color: lime;
}

inner-column {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
/*	border: 3px solid red;*/
	max-width: 500px;
		height: 100%;

	justify-content: space-evenly;
}

