/* TEXT SIZING / TYPOGRAPHY */

@font-face {
	font-family: 'Highway Gothic';
	src: url('../fonts/HWYGWDE.TTF');
}

html {
	--floor: calc(14px + 1vw);

	--stepOne: 1.272019rem; /* floor * golden ratio^0.5 */
	--stepTwo: 1.618033rem; /* floor * golden ratio */
	--stepThree: 2.058171rem; /* floor * golden ratio^1.5 */
	--stepFour: 2.618034rem; /* floor * golden ratio^2 */

	font-size: var(--floor);

	}

body {
	font-family: 'Baskerville';
	color: wheat;
}

em {
	font-style: italic;
}


h1 {
	font-family: 'Highway Gothic';
	color: yellow;
	font-size: var(--stepThree);
	letter-spacing: 0.07em;
	text-align: center;
}

.main-header-text {
	margin-top: 30px;
}


h2 {
	font-family: 'Permanent Marker';
	color: white;
	font-size: var(--stepTwo);
	text-align: center;
}

h3 {
	font-size: var(--stepOne);
}

p {
	color: white;
	font-size: 22px;
	letter-spacing: 0.1em;
	text-align: center;
}

.success {
	margin-top: 10px;
	color: var(--fadedlime);
}