html {
	font-family: 'Baskerville';
}






.title-voice {
	font-family: 'Baskerville';
	font-size: 48px;
	letter-spacing: 0.5em;
}

gridwrapper .three .navbar {
	font-family: 'Baskerville';
	font-style: italic;
	letter-spacing: 0.2em;
}