.feature {
	display: flex;
	flex-direction: column;
}



.feature-item {
	display: flex;
	flex-direction: row;
}

.feature-wrapper { 
	display: flex;
	align-items: center;
}


.feature-text {
	font-size: 16px;
}



@media (min-width: 600px) {

	.feature {
		flex-direction: row;
	}

	.feature.two, .feature.three {
		flex-direction: column;
	}
}

/*FEATURE LIST TWO*/


.feature-list.two, .feature-list.three {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


@media (min-width: 600px) {
	.feature-list.two, .feature-list.three        {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
	}
}


.feature-list.two .feature-item {
	flex-direction: column;
	align-items: start;
	border: 1px solid var(--zircon);
	border-radius: 10%;
}


/*FEATURE TEMPLATE 3*/

