code-choice, list-module {
	display: block;
	margin-top: 29px;
}

.e4p .copy-voice {
	font-size: 1.2rem;
}

.e4p-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
/*    justify-content: center;*/
    gap: 15px;
    margin-top: 22px;
}


.e4p-image {
	width: 45px;
	height: 45px;
}

.link-container li {
	border: 3px solid var(--falured);
	padding: 19px;
	border-radius: 28px;
	font-size: 1.2rem;
}

list-module ul {
	margin-left: 50px;
}
