

  


.hero.one {

	background-image: url('../../../images/backgrounds/hero-background1.svg');
}

:is(.hero.one, .hero.two) p {
	font-size: 20px;
	line-height: 24.2px;
	letter-spacing: 0.2px;
	text-align: center;
	margin-top: 16px;
}

.hero.three p {
	line-height: 30px;
	text-align: center;
	color: white;
}



/* HEADER TEXT */


.hero.one h1 {
font-weight: 700;
font-size: 64px;
line-height: 77.45px;
letter-spacing: 1.2px;
text-align: center;
}


.hero.two h2 {
font-weight: 700;
font-size: 56px;
line-height: 67.77px;
letter-spacing: 1.2px;
text-align: center;
}

.hero.three h1 {
font-weight: 700;
font-size: 56px;
line-height: 80px;
letter-spacing: 3.2px;
text-align: center;
color: white;
}






/*MODULE CHARACTERISTICS*/


.hero.two {
	background-image: url('../../../images/backgrounds/hero-background2.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


:is(.hero.one, .hero.two, .hero.three) inner-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 974px;
	padding-top: 195.5px;
padding-bottom: 195.5px;

}




.hero.three {
	background-color: var(--royalBlue);
}

.hero.three h1 {
	text-transform: uppercase;
}

.hero.two .start-free-trial {
	display: none;
}

