

  


:is(.hero.one, .hero.two) p {
	font-size: 20px;
	line-height: 24.2px;
	letter-spacing: 0.2px;
	text-align: center;
	margin-top: 16px;
}

.hero.three p {
	line-height: 30px;
	text-align: center;
	color: white;
	margin-top: 16px; /*from Figma*/
}

@media(min-width: 980px) {
	.hero.three p {
		max-width: 60%;
	}
}

/* HEADER TEXT */


.hero.one h1 {
font-weight: 600;
font-size: 64px;
line-height: 77.45px;
letter-spacing: 1.2px;
text-align: center;
}


.hero.two h2 {
font-weight: 700;
font-size: 56px;
line-height: 67.77px;
letter-spacing: 1.2px;
text-align: center;
}

.hero.three h1 {
font-weight: 700;
font-size: 56px;
line-height: 80px;
letter-spacing: 3.2px;
text-align: center;
color: white;
}






/*MODULE CHARACTERISTICS*/



.hero.one {

	background-image: url('../../../images/backgrounds/hero-background1.svg');
		background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.hero.two {
	background-image: url('../../../images/backgrounds/new-background2!.svg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}


:is(.hero.one, .hero.two, .hero.three) inner-column {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 80%;
	padding-top: 195.5px;
padding-bottom: 195.5px;

}


.hero.three .form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}


@media(min-width: 400px) {
	.hero.three .form-wrapper {
		flex-direction: row;
		justify-content: center;
	}
}





.hero.three .form-wrapper .email-submit-2 input {
	background-color: var(--palatinateBlue);
	border: none;
	border-radius: 10px;
	color: white;
}

.hero.three {
	background-color: var(--royalBlue);
}

.hero.three h1 {
	text-transform: uppercase;
}

.hero.two .start-free-trial {
	display: none;
}

.hero.three .email-submit-2 button {
	background-color: white;
	color: var(--royalBlue);
}

