.resume {
	padding: var(--modulePadding);;
	display: flex;
	flex-direction: column;
}


/*.resume ul {
	border: 3px solid red;
}*/

.resume h3 {
	font-size: 1.3rem;
}


.resume li h3 {
	margin-top: 27px;
}



.resume li p {
	margin-top: 10px;
}

.resume p {
	line-height: 1.3em;
}

.resume ul + ul h2 {
	margin: 27px 0px 20px 0px;
}