.contact {
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: var(--modulePadding);



    :is(h1 + p) {
      margin-top: 1.5em;
    }

    :is(p + p) {
      margin-top: 1em;
    }
 }

 .contact a:hover {
   font-style: italic;
 }