.contact {
	display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: var(--modulePadding);

 }

 .contact p {
 	line-height: 1.3em;
 	margin-top: 20px;
 }