.navigation {
	display: block;
	padding: 20px;
}


@media(min-width: 500px) {
	.navigation {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}
}

/*.navigation.three {
	display: grid;
	grid-template-columns: 1fr 30% 1fr;
}*/

.navigation.two {
	background-color: var(--royalBlue);
	color: white;
}



.navigation nav a {
	font-size: 14px;
}

.navigation nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 30px;
	padding: 30px;
	text-align: center;
}

.navigation-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}





@media(min-width: 860px) {
	.navigation.three {
		grid-template-columns: 1fr 2fr 1fr;
	}
	.navigation-right {
		flex-direction: row;
	}
	.navigation nav ul {
		flex-wrap: nowrap;
	}
}


.navigation.one svg path.outline {
	stroke: #616161;
}

.navigation.one svg path.text {
	fill: #616161;
}



.navigation.two svg path.outline {
	stroke: white;
}

.navigation.two svg path.text {
	fill: white;
}

.navigation .login {
	border: none;
	background-color: var(--royalBlue);
	color: white;
	padding: 8px 22px;
	border-radius: 5px;
	letter-spacing: 0.46px;
}

.navigation.two .login {
	background-color: white;
	color: var(--royalBlue);
}

.navigation.three .signup {
	background-color: white;
	color: var(--royalBlue);
	border: 1px solid var(--royalBlue);
		padding: 8px 22px;
	border-radius: 5px;
	letter-spacing: 0.46px;
	text-align: center;
}