@import "reset.css";
@import 'typography.css';
@import 'e4p.css';
@import 'settings.css';

/* SITE CODE*/

/*SETUP.CSS IN PROGRESS*/



:root {
	--main-text-color: #811e18;
	--sweetcorn: hsl(52, 87%, 72%);
}

body {
	font-size: 16px;
	color: #81201b;
	background-color: #f6e579;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Baskerville';
	margin: 20px 20px 50px 20px;
}

.link-container {
	 display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


a:link {
	color: var(--falured);
	text-decoration: none;
	font-family: 'Baskerville';
}

a:visited {
	color: black;
}


/*STYLINGS FOR ALL PHP FORMS*/

	
form {
	/*max-width: 600px;*/
	/*border: 5px solid green;*/
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

	letter-spacing: 0.1rem;
}

field {
	/*border: 3px solid blue;*/
	background-color: #811e18;
	display: flex;
	flex-direction: column;
	padding: 50px;
}

field label {
	font-size: 14px;
	margin-bottom: 4px;
}

label, input, button {
	/*border: 3px solid red;*/
}

form :is(label, input) {
	display: block; /*just setting these up as block-level
	elements instead of inline-block*/
}

form :is(input, button) {
	font-family: inherit;
}

form label {
	color: #f6e579;
	text-align: center;
	font-size: 26px;
}

form input {
	margin-top: 20px;
	padding: 0.5em; /*can set em to padding */
}

.output {
	margin-top: 15px;
	font-family: 'Baskerville';
	font-size: 32px;
	letter-spacing: 0.1rem;
	color: #811e18;
	font-weight: 700;
	font-style: italic;
}



button[type="submit"], field + field {
	margin-top: 30px ;
}

button {
	background-color: #811e18;
	padding: 20px;
	font-family: 'Baskerville';
	color: #f6e579;
	font-size: 24px;
	border-radius: 10%;
	letter-spacing: 0.1rem;
}

button:hover {
	background-color: #f6e579;
	color: #811e18;
}

form p {
		text-align: center;
	}

.feedback {
	color: lime;
}


output {
	background-color: black;
	padding: 20px;
	font-family: 'Courier';
	color: hsl(122, 83%, 77%);
}

.error {
	color: var(--sweetcorn);
}
