
.goals {
	margin: 27px;
	display: flex;
	flex-direction: column;
}






.goal-line {
	border: 2px solid var(--ink);
	margin-top: 27px;
}

@media(prefers-color-scheme: dark) {

.goal-line {
	border: 1px solid var(--ink-dark);
}

}