/* GET STARTED, START FREE TRIAL */

.hero-buttons {
	display: flex;
	flex-direction: column;
			gap: 30px;
		margin-top: 52px;

}

@media(min-width: 600px) {
	.hero-buttons {
		flex-direction: row;
		justify-content: center;
	}
}


.get-started {
	background-color: var(--royalBlue);
	color: white;
}

.start-free-trial {
	background-color: white;
	color: var(--royalBlue);
	border: 1px solid var(--royalBlue);
}

.get-started, .start-free-trial {
	padding: 15px 50px;
}


/*GET FREE QUOTES, FREE SIGNUP */

.get-free-quotes, .free-signup {
	width: 204px;
	height: 44px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 12.5px 22px;

}



.get-free-quotes, .get-free-quotes button {
		background-color: var(--royalBlue);
}


.get-free-quotes {
		color: white;
}

.free-signup {
		color: var(--royalBlue);
		border: 1px solid var(--royalBlue);
}

.free-signup, .free-signup button {
		background-color: white;
}

:is(.get-free-quotes, .free-signup) p {
	font-size: 16px;
	line-height: 19.36px;
	letter-spacing: 0.46px;
	text-align: center;

}


:is(.get-free-quotes, .free-signup) button {
	border: 0;
	padding: 0;

}

.get-free-quotes svg path {
	stroke: white;
}

.free-signup svg path {
	stroke: var(--royalBlue);
}




/*SEE ALL*/




.see-all {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: center;
	margin-top: 68px;
}


.see-all p {
	font-size: 20px;
	line-height: 24.2px;
	letter-spacing: 0.46px;
	text-align: center;
	color: var(--royalBlue);
}

.see-all logo svg {
	stroke: var(--royalBlue);
}
