/*Title-header*/

.title-header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}


.title-header title-wrapper, .title-header svg-wrapper {
	display: flex;
	align-items: center;
}

.title-header title-wrapper h1 {
	font-family: 'Highway Gothic';

}