<h1>LORD OF THE RINGS INFO!</h1>


<form method="POST" action="/add-character">
	<label for="a">Name</label>
	<input id="a" name="name" value="<%# %>">
	<label for="b">Description</label>
	<input id="b" name="description" value="<%# %>">
	<button type="submit">
	Submit
</button>
</form>