@import 'reset.css';
@import 'setup.css';


body {
	background-color: black;
	padding: 20px;
}




nav a {
	text-decoration: underline;
	padding: 10px;
}

nav {
	display: flex;

}

h1 {
	font-size: 40px;
}

.page-content {
	border: 3px dashed lime;
}