form {
	padding: 30px 0;
}

field {
	display: block;
}

field :is(label, input) {
	display: block;
}

field + field {
	margin-top: 20px;
}

.route-button {
	margin-top: 20px;
	padding: 15px;
	display: block;
	text-align: center;
	background-color: #36745c;
	width: 180px;
	color: white;
	border-radius: 20px;
}

field input[type='text'],
field input[type='number'] {
	font: inherit;
}