* {
	box-sizing: border-box;
}

header, .page-content {
	/*border: 3px solid green;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}



inner-column {
/*	border: 3px solid red;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 900px;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p {
	margin-top: 30px;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}