html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  }

header, .page-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-content {
	margin: 13px 20px 0px 20px;
	flex-grow: 1; /*the third element needed*/

}



body {

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: 'Josefin Sans';
	/*padding: 20px;*/
}
/*2 out of the 3 elements needed to keep the footer at the bottom */


footer {
	margin-top: 40px;
}


inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.page-content inner-column {
	max-width: 300px;
}

@media(min-width: 525px) {
	.page-content inner-column {
	width: 98%;
	max-width: 1140px;
}

}




a {
	display: block;
	text-decoration: none;
	color: inherit;
}

/*p {
	margin-top: 30px;
}*/

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 60px;
}
