@import 'reset.css';
@import 'setup.css';
@import 'typography.css';
@import 'components.css';
@import 'forms.css';
@import 'route-card.css';


body {

	--anakiwa: #8acde4;
	--lightgreen: #4af2a1;
	--amazon: #36745c;

	background: linear-gradient( rgba(127, 161, 173, 0.8), rgba(127, 161, 173, 0.9)), url('../images/i-95.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


.line {
	border: 1px solid black;
	width: 60%;
}

.line.one {
	margin-top: 10px;
}

.line.two {
	margin-bottom: 20px;
}

nav a {
	text-decoration: underline;
	padding: 10px;
}

nav a.active {
	color: var(--lightgreen);
}

nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

header h1 {
	margin-top: 20px;
}


/*.page-content {
	border: 3px dashed lime;
}*/

/*picture {
	width: 50%;
}*/



.detail-image {
	width: clamp(200px, 40vw, 250px);
}

footer {
	background-color: var(--amazon);
}

footer p {
	padding: 20px;
}

