.route-name, .length-in-miles, .start-point, .end-point {
	line-height: 1.8;
}

.route-name {
	margin-top: 10px;
}

h1 {
	font-family: 'Josefin Sans';
	font-size: 40px;
	margin-bottom: 7px;
}

h1, h2, p {
	text-align: center;
}


p + p {
	margin-top: 10px;
}