







article-section {
	display: block;
}




picture-section {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media(min-width: 600px) {
	picture-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
  		grid-gap: 20px;
	}
}

.articles {
	/*border: 3px solid red;*/
}

@media(min-width: 600px) {

	.articles {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 10px;
	}
}

.article-heading {
	display: flex;
	flex-direction: column;
}


.line {
	border: 1px solid var(--falured);
	width: 90%;

}




