






@media(min-width: 960px) {
	body {
	display: flex;
	align-items: center;
	justify-content: center;
		height: 100vh;
	}
}


/*STRUCTURE*/

inner-column {
	margin: 30px;
}



inner-column, article-section {
	display: block;
}



@media (min-width:  960px) {

	inner-column {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;
		max-width: 1200px;
	}
}

picture-section {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media(min-width: 600px) {
	picture-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
  		grid-gap: 20px;
	}
}

.articles {
	/*border: 3px solid red;*/
}

@media(min-width: 600px) {

	.articles {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 10px;
	}
}

.article-heading {
	display: flex;
	flex-direction: column;
}


.line {
	border: 1px solid var(--falured);
	width: 90%;

}


h3.heading-voice {
}




/*TYPOGRAPHY*/


img {
	max-width: 600px;
}

h2 {
	font-size: 2.3rem;
	margin-top: 30px;
}

h2 + p {
	margin-bottom: 40px;
}


h3 {
	font-size: 1.25rem;

}

h3, p, picture, .line {
	margin-top: 20px;
}

.heading-voice {
	font-weight: 700;
}

.copy-voice {
	font-size: 1rem;
}

@media(min-width: 600px) {

	picture {
		margin-top: 0px;
	}
}



