.about-navbar {
	padding: var(--modulePadding);
	display: flex;
	justify-content: center;
}

.about-navbar ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;

		a {
		font-size: 1.4em;
		font-style: italic;
		letter-spacing: 0.1em;
	}
}

.about-navbar li:hover {
	color: white;
}

/*ABOUT NAVBAR ELEMENTS*/

.about-navbar .active, .about-navbar .inactive {
	display: flex;
	align-items: center;
}