@import 'reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';

@import 'global.css';




@import 'article-section.css';

@import '../templates/modules/breaking-news/breaking-news.css';
@import '../templates/modules/drop-downs/drop-downs.css';
@import '../templates/modules/two-pillars/two-pillars.css';
@import '../templates/modules/loose-screw/loose-screw.css';




.latest-gigs{

}




a {
	color: var(--ink);
}


.index-line {
	border: 3px solid var(--ink);
	margin-top: 30px;
	width: 80%;
}


@media(prefers-color-scheme: dark) {

	a {
		color: var(--paper);
	}

	.index-line {
		border: 3px solid var(--paper);
	}
}