/*THIS CONTAINS DISPLAY, WIDTH, HEIGHT*/


html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}


a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
	display: block;
	width: 100%;
	}

link-wrapper, picture-wrapper {
	display: flex;
	flex-direction: column;
}

// picture-wrapper {
// 	align-items: center;
// }