/*SETTINGS*/

html {
--sweetcorn: #f6e579;
--falured: #81201b;
--phthaloblue: #04167d;
--gulfblue: #00175c;
--tolopea: #160f46;
--desire: #e23f53;
--cgred: #dd3b30;
--palegreen: #95f598;
--fadedlime: #7df383;
--anakiwa: #8acde4;
--lightgreen: #4af2a1;
--amazon: #36745c;

--paper: var(--sweetcorn);
--ink: var(--falured);

--paper-dark: var(--tolopea);
--ink-dark: var(--sweetcorn);

}


@media(prefers-color-scheme: dark) {
	body {
	
	}
}