
articles-intro {
	display: block;
	/*border: 4px solid purple;*/
	padding: 5vh 0;
}

articles-intro header {
margin-left: 20px;
}

article-grid {
	display: block;
	margin-top: 60px;
}

article-grid ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	/*grid-gap: 60px 20px*/;
	gap: 40px;
}
