inner-column {
	padding: 0px;
}



.layout-5 {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.layout-5 inner-column {
	width: 100%;
}

.layout-5 .site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.layout-5 .navbar ol {
	display: flex;
	list-style: none;
}


.layout-5 .navbar a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: var(--ink);
}

photo-module, footer-top, box {
	display: block;
}

.layout-5 call-to-action {
	display: flex;
	align-items: center;
}

.layout-5 photo-module {
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('homepage-background.jpg');
	background-size: cover;
	background-position: center;
	padding: 25vh;
	border-top: 3px solid var(--ink);
	border-bottom: 3px solid var(--ink);
}

.layout-5 footer {
	background-color: var(--paper);

	margin: 0px;


	display: flex;
	flex-direction: column;
	align-items: center;
}
	
.layout-5 footer-top {
	background-color: var(--paper);
	border: 3px solid black;
	padding: 18px;
/*	margin: -50px 100px 0px 100px;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transform: translate(0%, -50%);
}



.layout-5 footer button {
	margin-top: -41px;
	margin-bottom: 40px;
	background-color: var(--ink);
	color: var(--paper);
	padding: 19px;
}

.layout-5 box {
	background-color: var(--ink);
	width: 40px;
	height: 40px;
}

.layout-5 h2 + p {
	margin-bottom: 0px;
}


.layout-5 footer-top h2 {
	margin: 0px;
}

.layout-5 call-to-action {
	margin-top: 16px;
	gap: 20px;
}


.layout-5 h2.heading-voice {
	font-size: 1.5rem;
}

.layout-5 footer .copy-voice {
	font-size: 0.8rem;
	margin-top: 8px;
}



@media (prefers-color-scheme: dark) {

	.layout-5 footer {
		background-color: var(--ink);
	}

	.layout-5 footer-top {
		background-color: black;
		border: 3px solid var(--paper);
	}

	.layout-5 footer button {
		background-color: var(--paper);
		color: var(--ink);
	}

	.layout-5 box {
		background-color: var(--paper);
	}

	.layout-5 header {

	}

	.layout-5 photo-module {
		border-top: 3px solid var(--paper);
		border-bottom: 3px solid var(--paper);
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('homepage-background.jpg');
		background-size: cover;
		background-position: center;
	}

	.layout-5 footer {
		
	}
}








































@media (min-width: 700px) {

	.layout-5 header {

	}

	.layout-5 photo-module {
	
	}

	.layout-5 footer {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.layout-5 footer button {
		margin-top: 0px;
		margin-bottom: 0px;		
	}
}


