/* 
	BTW in case it isn't obvious... the whole PSSST-CSS idea is a joke 
	like... (it's just CSS)
*/

/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
/*@import 'developer-styles.css';*/

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
@import 'modules.css';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--white);
	color: var(--ink);
}


.strong-voice	{
	color: var(--cadorange);
}

.attention-voice {
	color: var(--black);
	/*padding: 0px 30px;*/
}



@media (prefers-color-scheme: dark) {
	.attention-voice {
	color: var(--tradewinds);
	/*padding: 0px 30px;*/
	}

}




section.welcome {
	background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/nags-head.jpeg');
	background-size: cover;
	background-position: center;
}

@media (prefers-color-scheme: dark) {

	section.welcome {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/nags-head.jpeg');
		background-size: cover;
		background-position: center;
	}
}














section:is(.sign-up, .get-involved) inner-column {
	max-width: var(--tight);
}


/* CALL TO ACTION MODULE */




call-to-action .story { /*this scopes the <p> element according to the module it's contained in! */

color: black;
}

call-to-action .button {
	background-color: var(--sandybeach);
	color: var(--tradewinds);
	/*margin-left: 20px;*/
}


@media (prefers-color-scheme: dark) {
	call-to-action .story {
		color: var(--tradewinds);
		}

	call-to-action .heading {
    color: white;
 	}
}








section.get-involved {
	background-image: url('../images/shoreline-2.jpeg');
	background-size: cover;
	background-position: center;

}









section.sign-up {
	background-color: var(--tradewinds);

}




@media (prefers-color-scheme: dark) {

	body {
		background-color: #00175c;
	}





	section.get-involved {
		color: var(--black);
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/shoreline-2.jpeg');
		background-size: cover;
		background-position: center;
	}

	section.sign-up .button {
		background-color: #471300;
		color: var(--white);
	}

	section.sign-up {
		background-color: #221b19;
		color: var(--white);
	}

	h3.strong-voice {
		color: white;
	}

	call-to-action a.button {
		background-color: #00175c;
	}


}

/*extra comment*/