/*SETTINGS*/

html {
--sweetcorn: #f6e579;
--falured: #81201b;
--phthaloblue: #04167d;
--gulfblue: #00175c;
--tolopea: #160f46;
--desire: #e23f53;
--cgred: #dd3b30;
--palegreen: #95f598;

//find a way to programmatically reduce lightness...
--darkSweetCorn: hsl(51 87% 60%);
--lightTolopea: hsl(247 65% 32%);





--paper: var(--sweetcorn);
--ink: var(--falured);

}


body {
	--modulePadding: 27px 27px 0px 27px;
	--standardTopMargin: 27px;

}

body {
	background-color: var(--paper);
	color: var(--ink);
}

@media(prefers-color-scheme: dark) {
	html {
		--paper: var(--tolopea);
		--ink: var(--sweetcorn);
	}
}