
/*BODY CLASS STYLES */


body.index, body.landing-404 {
	/*border: 6px solid var(--cgred);*/
	min-height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;


	grid-template-rows: auto 1fr;
	padding-bottom: 108px;
	/*background-image: linear-gradient(30deg, white, gray);*/
}

body.layout {
	display: block;
}

.page-content {
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-self: center;
}

@media (min-width: 900px) and (min-height: 600px) {
	/*changed this from 700 to 900*/
	body.index, body.landing-404 {
		grid-template-columns: 2fr 1fr;
			/*gap: 20px;*/
	}

	header {
		order: 2;
	}

	header .site-menu {
		position: sticky;
		top: 0;
	}
}

inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

link-wrapper {
	display: block;
}

@media(min-width: 1048px) {
	.bio,
	.the-lab,
	.projects,
	.e4p,
	.resume,
	.goals,
	.case-study,
	.style-guide,
	.contact {
		max-width: 669px;
	}
}


