html {
	font-family: 'Baskerville';
}

h1 {
	font-size: 33px;
}

h2{ 
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 1.2rem;
	line-height: 1.3;
	letter-spacing: 0.01em;
}

em {
	font-style: italic;
	letter-spacing: 0.03em;
}

:is(h1 + p) {
	margin-top: 1em;
}




/*VOICES*/

.emphasis-voice { //maybe not needed here
	font-style: italic;
	letter-spacing: 0.05em;
}

.loud-voice {
	letter-spacing: 0.23em;
}


/*CASE-STUDY STYLES*/


.case-study h1 {
	font-size: 42px;
	font-style: unset;
	font-weight: 700;
}


.inline-code {
	display: inline-block;
	font-size: 0.8em;
	background-color: black;
	color: var(--desire);
	font-family: 'Courier', monospace;
	padding: 0em 0.3em;
	border-radius: 4px;
}

.title-voice {
	font-style: italic;
	letter-spacing: 0.08em;
}

.subtitle-voice, article h2 {
	font-size: 26px;
	line-height: 1.2;
}

.bold-voice, article h3 {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.02em;
}

.block-subtitle-voice, article h4 {
	font-size: 1.2rem; //around 16px
	line-height: 1.3;
	font-style: italic;
}

.normal-voice, article p {
	font-size: 1.2rem; //around 16px
	line-height: 1.3;


}

.project-link {
	font-size: 24px;
}

article li {
	font-size: 1.2rem;
	line-height: 1.3;

	code {
		font-size: 0.8em;
		display: inline-block;
		padding: 0em 0.3em;
		border-radius: 4px;
	}
}

article ul {
	list-style: disc;
}

//Some boilerplate code to handle list attributes.

article :is(ul, ol) li {
	font-size: 1.2rem;
	line-height: 1.3;
	max-width: 82ch;
	/* same as paragraph/body copy */
}

article :is(p + :is(ol, ul)) {
	margin-top: 0.5em;
}

article :is(:is(ol, ul) + p) {
	margin-top: 0.5em;
}

article :is(ul, ol) :is(li + li) {
	margin-top: .2em;
}

article {
	h2,
	h3,
	.project-link,
	:is(h3 + p),
	:is(h3 + h4),
	:is(h4 + p),
	:is(h4 + ul),
	:is(li + h3),
	:is(figure + figure),
	:is(figure + p),
	:is(figcaption + p),
	:is(p + figure),
	:is(p + p),
	:is(p + ul),
	:is(p + h4),
	:is(p + ul),
	:is(ul + h4) {
		margin-top: 1em;
	}


	:is(p + h3),
	:is(figure + h3),
	:is(ul + h3),
	:is(a + h3),
	:is(a + p),
	:is(ul + p) {
		margin-top: 2em;
	}

	figcaption {
		margin-top: 0.5em;
		font-style: italic;
		letter-spacing: 0.02em;
	}

	.cp_embed_wrapper {
		margin-top: 3em;
	}

.code-snippet {
	display: inline-block;
	margin-top: 20px;
			pre {
			/* these are a pain to get right. suitable as a baseline.. */
			/* Credit: Discord user mooff, channel cascading-style-sheets, 3/1/2023. */
			max-width: 100%;
			max-height: 100%;
			overflow: auto;
			white-space: pre-wrap;
			word-wrap: break-word;
			overflow-wrap: break-word;

			/*custom properties*/
			// display: inline-block;
			background-color: black;
			color: white;
			font-family: 'Courier', sans-serif;
			font-size: 1em;
			padding: 15px;
			border-radius: 6px;
		}
	}
}