@import 'reset';
@import 'setup';
@import 'settings';
@import 'structure';
@import 'typography';

@import '../templates/components/navbar/_style.scss';

@import "../templates/modules/home/_style.scss";
@import '../templates/modules/header-and-text/_style.scss';
@import '../templates/modules/subheader-and-text/_style.scss';
@import '../templates/modules/goals-module/_style.scss';
@import '../templates/modules/resume-module/_style.scss';
@import '../templates/modules/link-card/_style.scss';
@import '../templates/modules/graphic-list/_style.scss';
@import '../templates/modules/button-list/_style.scss';
@import '../templates/modules/e4p/_style.scss';
@import '../templates/modules/subheader-figure-caption/_style.scss';
@import '../templates/modules/contact-form/_style.scss';
@import '../templates/modules/font-overview/_style.scss';
@import '../templates/modules/404/_style.scss';



/*LOGO - SVG PARENT ELEMENTS*/


.logo {
	// display: flex;
	// flex-direction: row;
	// align-items: center;
	// justify-content: center;
max-width: 300px;
padding: var(--modulePadding);
}


.landing-404 .logo {
	// margin-top: 103px;
}



@media (min-width: 900px) and (min-height: 600px) {
	.logo {
    	margin-top: 129px;
    	max-width: unset;
    }

    .landing-404 .logo {
		margin-top: 129px;
 	}

}





/*SVG ELEMENTS*/


svg {
	display: block;
	/*border: 3px dashed purple;*/
}

svg .windmill {
	fill: var(--ink);
	stroke: none;
}

svg .curve {
	fill: none;
	stroke: var(--ink);
	stroke-width: 4.17px;

}

@keyframes random-spin {
	25% {
		transform: rotate(60deg);	
	}
	
	50%{
		transform: rotate(-45deg);
	}
	
	100%{
		transform: rotate(360deg);
	}
}

.windmill {
	animation: random-spin 12s linear infinite;
	transform-origin: center;
	transform-box: fill-box;
}

.object {
	overflow: visible;
}

.line {
	border: 2px solid var(--ink);
	margin-top: 27px;
}


.project-link {
    text-decoration: underline;
}


.bio picture-wrapper {
	display: flex;
	// justify-content: center;
	padding-left: 27px;
}


.bio picture {
	border: 3px solid var(--ink);
	padding: 10px;
	max-width: 264px;
	filter: sepia(125%);
}


.style-guide .home h1.title-voice {
	margin-top: 0px;
}

@media (min-width: 900px) {
	.style-guide .home, .style-guide .four-oh-four {
		min-height: auto;
	}

	.style-guide .link-container {
		gap: 27px;
	}
}


/*CASE-STUDY PAGE*/


.case-study {

	.form-before, .form-after {
		max-width: 300px;
	}

	.text-ratios {
		max-width: 400px;
	}

	.is-selected, .php-code {
		max-width: 350px;
	}

	.original-1 {
		max-width: 300px;
	}

	article {
	padding: 20px;
	max-width: 100vw;

		.subtitle-wrapper {
			border: 3px solid var(--ink);
			background: var(--darkSweetCorn);
			padding: 20px;
			margin-top: var(--standardTopMargin);
			border-radius: 15px;

			h2 {
				margin-top: unset;
			}
		}

		@media(prefers-color-scheme: dark) {
			.subtitle-wrapper {
				background: var(--lightTolopea);
			}
		}

	}
}







/*CASE STUDY PHOTOS*/

/*Ninja Strings*/

picture {
	&.ns-logo, &.tricolor {
	border: 3px solid blue;
	max-width: 310px;
	}
}

.case-study picture {
	border: 3px solid var(--ink);
	padding: 10px;
}

.case-study ul {
	list-style: square;
	margin-left: 20px;

}

.case-study :is( .figure-2, .figure-6) {
	max-width: 300px;
}

/*CODE SNIPPETS*/

pre[class*=language-] {
	margin-top: 100px;
}




.original picture {
	max-width: 450px;
}

.figma picture {
	max-width: 300px;
}