@import 'reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';

@import '../templates/pages/home/style.css';
@import '../templates/pages/projects/style.css';
@import '../templates/pages/the-lab/style.css';
@import '../templates/pages/contact/style.css';
@import '../templates/pages/404/style.css';

@import '../templates/modules/home/style.css';
@import '../templates/modules/header-and-text/style.css';
@import '../templates/modules/subheader-and-text/style.css';
@import '../templates/modules/goals-module/style.css';
@import '../templates/modules/resume-module/style.css';
@import '../templates/modules/link-card/style.css';
@import '../templates/modules/graphic-list/style.css';
@import '../templates/modules/button-list/style.css';
@import '../templates/modules/e4p/style.css';




@import '../templates/modules/subheader-figure-caption/style.css';
@import '../templates/modules/contact-form/style.css';

@import '../templates/modules/font-overview/style.css';


@import '../templates/modules/404/style.css';





.site-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--modulePadding);
}








main {
	/*border: 6px solid lime;*/
/*	padding: 20px;*/
}



/*MAIN - PAGE CONTENT */

.page-content {
	/*border: 6px solid var(--cgred);*/

}






/*NAVBAR ELEMENTS*/


.navbar {
	display: flex;
	justify-content: center;
}

.navbar ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.navbar nav a {
	/*border: 3px dashed blue;*/
}

.navbar a.active {
	opacity: 39%;
	font-style: italic;
	letter-spacing: 0.1em;
}

.navbar a:hover {
	color: white;
}


/*LOGO - SVG PARENT ELEMENTS*/


.logo {
	/*padding: 40px;*/
	margin-top: 27px;
}


.landing-404 .logo {
	margin-top: 103px;
}



@media (min-width: 900px) and (min-height: 600px) {
	.logo {
    	margin-top: 129px;
    }
}





/*SVG ELEMENTS*/


svg {
	display: block;
	/*border: 3px dashed purple;*/
}

svg .windmill {
	fill: var(--ink);
	stroke: none;
}

svg .curve {
	fill: none;
	stroke: var(--ink);
	stroke-width: 4.17px;

}

@media(prefers-color-scheme: dark) {
	svg .windmill {
	fill: var(--ink-dark);
	}

	svg .curve {
	stroke: var(--ink-dark);
	}
}



.line {
	border: 2px solid var(--ink);
	margin-top: 27px;
}

@media(prefers-color-scheme: dark) {

	.line {
		border: 1px solid var(--ink-dark);
	}

}

.linktype-1 {
    text-decoration: underline;
    font-style: italic;
    padding: var(--modulePadding);
    letter-spacing: 0.2em;
}

.attention-voice.case-study, .body-copy.case-study {
	padding: var(--modulePadding);
}

.bio picture-wrapper {
	display: flex;
	justify-content: center;
}


.bio picture {
	border: 3px solid var(--ink);
	padding: 10px;
	margin: 27px 0px 0px 27px;
	max-width: 264px;
}

@media(prefers-color-scheme: dark) {

	.bio picture {
		border: 3px solid var(--ink-dark);
	}

}

.style-guide .home h1.title-voice {
	margin-top: 0px;
}

@media (min-width: 900px) {
	.style-guide .home {
		min-height: auto;
	}
}




/*Put all of the elements if they're unique to this page--no matter what they are --  in this template.
The things that will go across the entire site -- the text classes, the colors -- those go in the site.css.

