@import 'reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';

@import '../templates/pages/home/style.css';
@import '../templates/pages/projects/style.css';
@import '../templates/pages/the-lab/style.css';
@import '../templates/pages/contact/style.css';
@import '../templates/pages/404/style.css';


@import '../templates/subpages/goals.css';
@import '../templates/subpages/resume.css';


@import '../templates/modules/landing-page/style.css';
@import '../templates/modules/header-and-text/style.css';
@import '../templates/modules/subheader-and-text/style.css';
@import '../templates/modules/goals-module/style.css';
@import '../templates/modules/link-card/style.css';
@import '../templates/modules/graphic-list/style.css';
@import '../templates/modules/button-list/style.css';






@import '../templates/modules/subheader-figure-caption/style.css';
@import '../templates/modules/contact-form/style.css';

@import '../templates/modules/font-overview/style.css';


@import '../templates/modules/404/style.css';




header .site-menu {
	/*border: 6px solid #e23f53;*/
	padding: 20px;
}

main {
	/*border: 6px solid lime;*/
	padding: 20px;
}



/*MAIN - PAGE CONTENT */

.page-content {
	border: 6px solid var(--desire);

}






/*NAVBAR ELEMENTS*/

.navbar ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.navbar nav a {
	/*border: 3px dashed blue;*/
}



/*LOGO - SVG PARENT ELEMENTS*/


.logo {
	padding: 40px;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px) and (min-height: 600px) {
	.logo {
    	margin-top: 129px;
    }
}





/*SVG BOX ELEMENTS*/

artifact {
	display: flex;
	/*border: 5px solid brown;*/
	max-width: 410px;
}

svg {
	display: block;
	/*border: 3px dashed purple;*/
}

svg .windmill {
	fill: var(--ink);
	stroke: none;
}

svg .curve {
	fill: none;
	stroke: var(--ink);
	stroke-width: 4.17px;

}

@media(prefers-color-scheme: dark) {
	svg .windmill {
	fill: var(--ink-dark);
	}

	svg .curve {
	stroke: var(--ink-dark);
	}
}




.line {
	border: 2px solid var(--ink);
	margin-top: 27px;
}

@media(prefers-color-scheme: dark) {

.line {
	border: 1px solid var(--ink-dark);
}

}





/*Put all of the elements if they're unique to this page--no matter what they are --  in this template.
The things that will go across the entire site -- the text classes, the colors -- those go in the site.css.

