/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*THIS CONTAINS DISPLAY, WIDTH, HEIGHT*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  color: blue;
  text-decoration: underline;
}

picture {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

/*SETTINGS*/
html {
  --sweetcorn: #f6e579;
  --falured: #81201b;
  --phthaloblue: #04167d;
  --gulfblue: #00175c;
  --tolopea: #160f46;
  --desire: #e23f53;
  --cgred: #dd3b30;
  --palegreen: #95f598;
  --darkSweetCorn: hsl(51 87% 60%);
  --lightTolopea: hsl(247 65% 32%);
  --paper: var(--sweetcorn);
  --ink: var(--falured);
}

body {
  --modulePadding: 27px 27px 0px 27px;
  --standardTopMargin: 27px;
}

body {
  background-color: var(--paper);
  color: var(--ink);
}

@media (prefers-color-scheme: dark) {
  html {
    --paper: var(--tolopea);
    --ink: var(--sweetcorn);
  }
}
/*BODY CLASS STYLES */
body.index, body.landing-404 {
  /*border: 6px solid var(--cgred);*/
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-rows: auto 1fr;
  padding-bottom: 108px;
  /*background-image: linear-gradient(30deg, white, gray);*/
}

body.layout {
  display: block;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

@media (min-width: 900px) and (min-height: 600px) {
  /*changed this from 700 to 900*/
  body.index, body.landing-404 {
    grid-template-columns: 2fr 1fr;
    /*gap: 20px;*/
  }
  header {
    order: 2;
  }
  header .site-menu {
    position: sticky;
    top: 0;
  }
}
inner-column {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

link-wrapper {
  display: block;
}

@media (min-width: 900px) {
  .bio,
  .the-lab,
  .projects,
  .e4p,
  .resume,
  .goals,
  .design-philosophy,
  .case-study,
  .style-guide,
  .contact {
    max-width: 669px;
  }
}
html {
  font-family: "Baskerville";
}

h1 {
  font-size: 33px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

em {
  font-style: italic;
  letter-spacing: 0.03em;
}

:is(h1 + p) {
  margin-top: 1em;
}

/*VOICES*/
.emphasis-voice {
  font-style: italic;
  letter-spacing: 0.05em;
}

.loud-voice {
  letter-spacing: 0.23em;
}

/*CASE-STUDY STYLES*/
.case-study-title {
  font-size: 42px;
  font-style: unset;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.inline-code {
  display: inline-block;
  font-size: 0.8em;
  background-color: black;
  color: var(--desire);
  font-family: "Courier", monospace;
  padding: 0em 0.3em;
  border-radius: 4px;
}

/*----------*/
.title-voice {
  font-style: italic;
  letter-spacing: 0.08em;
}

.subtitle-voice, article h2 {
  font-size: 26px;
  line-height: 1.2;
}

.bold-voice, article h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.block-subtitle-voice, article h4 {
  font-size: 1.2rem;
  line-height: 1.3;
  font-style: italic;
}

.normal-voice, article p {
  font-size: 1.2rem;
  line-height: 1.3;
}

.project-link {
  font-size: 24px;
}

article li {
  font-size: 1.2rem;
  line-height: 1.3;
}
article li code {
  font-size: 0.8em;
  display: inline-block;
  padding: 0em 0.3em;
  border-radius: 4px;
}

article ul {
  list-style: disc;
}

article :is(ul, ol) li {
  font-size: 1.2rem;
  line-height: 1.3;
  max-width: 82ch;
  /* same as paragraph/body copy */
}

article :is(p + :is(ol, ul)) {
  margin-top: 0.5em;
}

article :is(:is(ol, ul) + p) {
  margin-top: 0.5em;
}

article :is(ul, ol) :is(li + li) {
  margin-top: 0.2em;
}

article h2,
article h3,
article .project-link,
article :is(h3 + p),
article :is(h3 + h4),
article :is(h4 + p),
article :is(h4 + ul),
article :is(li + h3),
article :is(figure + figure),
article :is(figure + p),
article :is(figcaption + p),
article :is(p + figure),
article :is(p + p),
article :is(p + ul),
article :is(p + h4),
article :is(p + ul),
article :is(ul + h4) {
  margin-top: 1em;
}
article :is(p + h3),
article :is(figure + h3),
article :is(ul + h3),
article :is(a + h3),
article :is(a + p),
article :is(ul + p) {
  margin-top: 2em;
}
article figcaption {
  margin-top: 0.5em;
  font-style: italic;
  letter-spacing: 0.02em;
}
article .cp_embed_wrapper {
  margin-top: 3em;
}
article .code-snippet {
  display: inline-block;
  margin-top: 20px;
}
article .code-snippet pre {
  /* these are a pain to get right. suitable as a baseline.. */
  /* Credit: Discord user mooff, channel cascading-style-sheets, 3/1/2023. */
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /*custom properties*/
  background-color: black;
  color: white;
  font-family: "Courier", sans-serif;
  font-size: 1em;
  padding: 15px;
  border-radius: 6px;
}

.navbar {
  padding: var(--modulePadding);
}
.navbar.about {
  padding-bottom: 27px;
}
.navbar ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.navbar li {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.navbar li.inactive .link-logo {
  visibility: hidden;
}
.navbar .link-logo {
  position: absolute;
  width: 12px;
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 7px;
  margin-top: 0.1em;
}
.navbar .link-logo svg {
  fill: var(--ink);
}
.navbar a {
  font-size: 1.4rem;
  letter-spacing: 0.08em;
  font-style: italic;
}
.navbar a:hover {
  color: white;
}

:is(.navbar, .about-navbar) .active {
  opacity: 75%;
  font-style: italic;
  letter-spacing: 0.1em;
}

.home {
  padding: var(--modulePadding);
  text-align: center;
}
.home h1 {
  margin-top: 103px;
  font-style: unset;
  font-size: 53px;
}

@media (min-width: 900px) {
  .home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }
  .home h1 {
    margin-top: 0px;
    font-size: 64px;
  }
}
.header-and-text {
  padding: var(--modulePadding);
}
.header-and-text h2 {
  font-style: italic;
  letter-spacing: 0.2em;
}
.header-and-text :is(h2 + p, p + p) {
  margin-top: 1em;
}

.subheader-and-text {
  padding: var(--modulePadding);
}

.subheader-and-text p {
  line-height: 1.3em;
}

.subheader-and-text :is(p, p + h2) {
  margin-top: 28px;
}

.goals {
  padding: var(--modulePadding);
  display: flex;
  flex-direction: column;
}
.goals :is(h1 + h2) {
  margin-top: 1em;
}

.goals h3 {
  margin-top: 28px;
}

.goals li {
  line-height: 1.3em;
  margin-top: 18px;
  font-size: 1.3rem;
}

li.goal-item {
  margin-left: 20px;
}

.resume {
  padding: var(--modulePadding);
  display: flex;
  flex-direction: column;
}
.resume :is(h1 + ul, ul + ul, ul + h1) {
  margin-top: 2em;
}
.resume :is(li + li) {
  margin-top: 1em;
}
.resume :is(h2 + h3),
.resume :is(h3 + p) {
  margin-top: 0.5em;
}

.link-card {
  position: relative;
  padding: 27px;
  margin-top: 27px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.link-card :hover {
  filter: sepia(125%);
}
.link-card a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.link-card :is(a + p) {
  margin-top: 1em;
}
.link-card :is(h2 + p) {
  margin-top: 0.7em;
}

.link-card > * {
  color: var(--sweetcorn);
}

graphic-list {
  display: block;
  padding: var(--modulePadding);
}

.graphic-list .list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  /*    justify-content: center;*/
  gap: 15px;
  margin-top: 22px;
}

.e4p-image {
  width: 45px;
  height: 45px;
}

.graphic-list ul {
  margin-left: 50px;
}

.button-list {
  display: block;
  padding: var(--modulePadding);
}

.link-container {
  display: flex;
  justify-content: space-evenly;
  gap: 27px;
}

.link-container li {
  border: 3px solid var(--ink);
  padding: 19px;
  border-radius: 28px;
  font-size: 1.2rem;
}

/*STYLES SPECIFIC TO E4P DETAIL PAGE*/
.exercise, .exercise-column {
  height: 100%;
}

.attention-voice.e4p {
  text-align: left;
}

.exercise-column {
  max-width: 450px;
}

.exercise {
  padding: var(--modulePadding);
}

.exercise inner-column {
  display: flex;
  flex-direction: column;
  /*	align-items: center;*/
  justify-content: space-evenly;
}

field, label, input, output {
  display: block;
}

field {
  margin-top: var(--standardTopMargin);
}

field:first-of-type {
  margin-top: 0px;
}

.exercise h2 {
  text-align: left;
  letter-spacing: 0.2em;
  margin-top: 13px;
}

form {
  display: block;
  border: 3px solid var(--ink);
  margin-top: 20px;
  padding: 28px;
}

input {
  font-family: "Baskerville";
  font-size: var(--stepOne);
  margin-top: var(--standardTopMargin);
}

.form-text {
  font-size: var(--stepOne);
}

.form-button {
  background-color: var(--paper);
  color: var(--ink);
  border: 3px solid var(--ink);
  margin-top: var(--standardTopMargin);
  font-family: "Baskerville";
  padding: 12px;
  font-size: var(--stepOne);
}

.form-button:hover {
  background-color: var(--ink);
  color: var(--paper);
  border: 3px solid var(--paper);
}

output {
  display: block;
  background-color: black;
  margin-top: 20px;
  padding: 20px;
  font-family: "Courier";
  color: var(--palegreen);
  font-size: 0.8rem;
}

.subheader-figure-caption {
  padding: var(--modulePadding);
  display: flex;
  flex-direction: column;
}

.subheader-figure-caption img {
  max-width: 344px;
  padding: 10px;
  border: 3px solid var(--ink);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: var(--modulePadding);
}
.contact :is(h1 + p) {
  margin-top: 1.5em;
}
.contact :is(p + h2, h2 + a) {
  margin-top: 1em;
}
.contact :is(p + p) {
  margin-top: 0.5em;
}
.contact link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 2em;
}
.contact link-wrapper a {
  border: 3px solid var(--ink);
  padding: 19px;
  border-radius: 28px;
  font-size: 1.2rem;
}
.contact link-wrapper a:hover {
  background-color: var(--ink);
  color: var(--paper);
}

font-overview {
  display: block;
  padding: var(--modulePadding);
}
font-overview :is(h1 + div) {
  margin-top: 1em;
}
font-overview .specimen + .specimen {
  margin-top: 1em;
}

.style-guide .home h1 {
  text-align: left;
}

.voices > * {
  margin-top: 1em;
}

/*404 SUBPAGE */
.four-oh-four {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: var(--modulePadding);
}

.four-oh-four text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

@media (min-width: 900px) {
  .four-oh-four {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }
  .four-oh-four text-wrapper {
    width: 100%;
  }
}
/*LOGO - SVG PARENT ELEMENTS*/
.logo {
  max-width: 300px;
  padding: var(--modulePadding);
}

@media (min-width: 900px) and (min-height: 600px) {
  .logo {
    margin-top: 129px;
    max-width: unset;
  }
  .landing-404 .logo {
    margin-top: 129px;
  }
}
/*SVG ELEMENTS*/
svg {
  display: block;
  /*border: 3px dashed purple;*/
}

svg .windmill {
  fill: var(--ink);
  stroke: none;
}

svg .curve {
  fill: none;
  stroke: var(--ink);
  stroke-width: 4.17px;
}

@keyframes random-spin {
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.windmill {
  animation: random-spin 12s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.object {
  overflow: visible;
}

.line {
  border: 2px solid var(--ink);
  margin-top: 27px;
}

.project-link {
  text-decoration: underline;
}

.bio picture-wrapper {
  display: flex;
  padding-left: 27px;
}

.bio picture {
  border: 3px solid var(--ink);
  padding: 10px;
  max-width: 264px;
  filter: sepia(125%);
}

.style-guide .home h1.title-voice {
  margin-top: 0px;
}

@media (min-width: 900px) {
  .style-guide .home, .style-guide .four-oh-four {
    min-height: auto;
  }
  .style-guide .link-container {
    gap: 27px;
  }
}
/*CASE-STUDY PAGE*/
.case-study .form-before, .case-study .form-after {
  max-width: 300px;
}
.case-study .text-ratios {
  max-width: 400px;
}
.case-study .is-selected, .case-study .php-code {
  max-width: 350px;
}
.case-study .original-1 {
  max-width: 300px;
}
.case-study article {
  padding: 20px;
  max-width: 100vw;
}
.case-study article .subtitle-wrapper {
  border: 3px solid var(--ink);
  background: var(--darkSweetCorn);
  padding: 20px;
  margin-top: var(--standardTopMargin);
  border-radius: 15px;
}
.case-study article .subtitle-wrapper h2 {
  margin-top: unset;
}
@media (prefers-color-scheme: dark) {
  .case-study article .subtitle-wrapper {
    background: var(--lightTolopea);
  }
}

/*CASE STUDY PHOTOS*/
/*Ninja Strings*/
picture.ns-logo, picture.tricolor {
  border: 3px solid blue;
  max-width: 310px;
}

.case-study picture {
  border: 3px solid var(--ink);
  padding: 10px;
}

.case-study ul {
  list-style: square;
  margin-left: 20px;
}

.case-study :is(.figure-2, .figure-6) {
  max-width: 300px;
}

/*CODE SNIPPETS*/
pre[class*=language-] {
  margin-top: 100px;
}

.original picture {
  max-width: 450px;
}

.figma picture {
  max-width: 300px;
}
