
call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 7vh 2vh;
}

call-to-action p {
	max-width: 52ch;
}

call-to-action .button {
	margin-top: 20px;
	font-family: "Rock Salt";
}


@media (prefers-color-scheme: dark) {
	.get-involved call-to-action h2.heading.attention-voice {
	color: var(--black);
	}

	.get-involved call-to-action p {
	color: var(--black);
	}
}
