@import 'reset.css';



/*SETUP*/






html {
	font-family: sans-serif;
	font-size: 20px;
}




img {
	display: block;
	width: 100%;
	height: auto;
}

picture {
	display: block;
}





/*STRUCTURE*/

inner-column {
	/*border: 3px solid red;*/
}



inner-column, article-section {
	display: block;
}



@media (min-width:  1080px) {

	inner-column {
		display: flex;
		flex-direction: row;
	}
}

picture-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media(min-width: 600px) {
	picture-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
  		grid-gap: 20px;
	}
}









.articles {
	/*border: 3px solid red;*/
}

@media(min-width: 600px) {

	.articles {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  		grid-gap: 20px;
	}
}









.article-heading {
	display: flex;
	flex-direction: column;
}







picture {
	max-width: 400px;
}




.line-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.line {
	border: 1px solid black;
	width: 90%;
}


h3.heading-voice {
}




/*TYPOGRAPHY*/

h2 {
	font-size: 1.5rem;
	margin-top: 30px;
}

h3 {
	font-size: 1.25rem;

}

h3, p, picture, .line {
	margin-top: 20px;
}

.heading-voice {
	font-weight: 700;
}

.copy-voice {

}